{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block head %}
<title>{{sysSettings.siteName}} - Reset Password</title>
{% endblock %}

{% block body %}
<div class="login-box">
    <div class="branding d-flex justify-content-center">
        <div class="circular_image">
            <img src="{{sysSettings.systemLogo}}">
        </div>
    </div>
    <h2 class="title">Forgot Password</h2>
    <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
    {{ forgot_password_form.hidden_tag() }}
        <div class="user-box">
            <input autocomplete="off" id="email" name="email" required="" type="email" value="">
            <label for="email"><i class="fas fa-envelope"></i> Email Address</label>
        </div>
        <small class="hint d-flex justify-content-around">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </small>
        <div class="d-grid gap-2">
            <input class="btn btn-primary boxShadow" id="submit" name="submit" type="submit" value="Request Reset">
        </div>
    </form>
</div>
{% endblock %}