{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "security/custom_macros.html" import fields_errors %}

{% block head %}
<title>{{sysSettings.siteName}} - Login</title>
{% endblock %}

{% block body %}
{{fields_errors(login_user_form.email,login_user_form.password)}}
<div class="login-box">
    <div class="branding d-flex justify-content-center">
        <div class="circular_image">
            <img src="{{sysSettings.systemLogo}}">
        </div>
    </div>
    <h2 class="title">Login</h2>
    <form class="form" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
    {{ login_user_form.hidden_tag() }}
        <div class="user-box">
            <input autocomplete="off" id="email" name="email" required="" type="email" value="">
            <label for="email"><i class="fas fa-envelope"></i> Email Address</label>
        </div>
        <div class="user-box">
            <input autocomplete="off" id="password" name="password" required="" type="password" value="">
            <label><i class="fas fa-key"></i> Password</label>
        </div>
        <small class="hint d-flex justify-content-around">
            <a href="/reset">Forgot Password?</a>
            <a href="/register">Register</a>
        </small>
        <div class="d-grid gap-2">
            <input class="btn btn-primary boxShadow" id="submit" name="submit" type="submit" value="Login">
        </div>
    </form>
    {% if SystemOAuthProviders != [] %}
        <hr>
        {% for provider in SystemOAuthProviders %}
            <div class="my-2 d-grid gap-2">
                <a href="/oauth/login/{{provider.name}}" class="btn btn-lg btn-block boxShadow" style="background-color:{{provider.displayColor}};border-color:{{provider.displayColor}};color:white;">
                    {% if provider.preset_auth_type =="Discord" %}<img class="float-left" src="/static/img/Discord-Logo-White.png" style="width:32px;height:32px;">{% endif %}
                    {% if provider.preset_auth_type =="Reddit" %}<img class="float-left" src="/static/img/Reddit_logo.png" style="width:32px;height:32px;">{% endif %}
                    {% if provider.preset_auth_type =="Facebook" %}<img class="float-left" src="/static/img/facebook.png" style="width:32px;height:32px;">{% endif %}
                    {{provider.friendlyName}}
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}