{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% import "themes/" + sysSettings.systemTheme + "/macros/cards.html" as cards with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/panels.html" as panels with context %}


{% block head %}
<title>{{sysSettings.siteName}}</title>
<meta name="twitter:card" content="app" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{sysSettings.siteName}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/{{sysSettings.systemLogo}}" />
{% endblock %}

{% block body %}
        <!-- Content Block Here-->

        <!--Announcement Macro-->
        {%  if sysSettings.serverMessage != "" and sysSettings.serverMessage != None %}
            {{ panels.announcement_panel(sysSettings.serverMessageTitle, sysSettings.serverMessage) }}
        {%  endif %}

        {% for panel in panelList %}
            {% set panelItem = getPanel(panel.panelId, 0) %}
            {% if panelItem.type == 0 %}
                {{ panels.text_panel(panelItem.header, panelItem.content) }}
            {% elif panelItem.type == 1  %}
                {% set panelStreamList = getPanelStreamList(panelItem.order, 16) %}
                {% if panelStreamList != [] %}
                    {{ panels.live_streams_panel(panelStreamList, title=panelItem.header) }}
                {% endif %}
            {% elif panelItem.type == 2  %}
                {% set panelVideoList = getPanelVideoList(panelItem.order, 100) %}
                {% if panelVideoList != [] %}
                    {{ panels.videos_panel(panelVideoList, title=panelItem.header, order=panelItem.order) }}
                {% endif %}
            {% elif panelItem.type == 3  %}
                {% set panelClipList = getPanelClipList(panelItem.order, 100) %}
                {% if panelClipList != [] %}
                    {{ panels.clips_panel(panelClipList, title=panelItem.header) }}
                {% endif %}
            {% elif panelItem.type == 4  %}
                {{ panels.topics_panel(uploadTopics, title=panelItem.header) }}
            {% elif panelItem.type == 5  %}
                {{ panels.channels_panel(channelList, title=panelItem.header) }}
            {% elif panelItem.type == 6 %}
                {% set liveStream = getLiveStream(panelItem.target) %}
                {% if liveStream != None %}
                    {{ panels.featured_streamer_panel(liveStream, panelItem.content, title=panelItem.header) }}
                {% endif %}
            {% endif %}
        {% endfor %}

{% endblock %}

{% block scripts %}

{% endblock %}
