{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% import "themes/" + sysSettings.systemTheme + "/macros/core_ui.html" as core_ui with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/cards.html" as cards with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/panels.html" as panels with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/modals.html" as modals with context %}

{% block head %}
<title>{{sysSettings.siteName}} - {{ title }}</title>
<meta name="twitter:card" content="app" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{sysSettings.siteName}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/{{sysSettings.systemLogo}}" />
<script src="/static/vendor/tagify/tagify.js"></script>
<script src="/static/vendor/tagify/tagify.polyfills.min.js"></script>
<link href="/static/vendor/tagify/tagify.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    {{ panels.messages_panel(messageList) }}
{% endblock %}

{% block modals %}
    {{ modals.create_message() }}
    {{ modals.open_message_banlist(messageBanList) }}
{% endblock %}

{% block scripts %}
<script src="/static/js/messages.js"></script>
<script type="text/javascript" src="/static/vendor/datatables/js/jquery.datatables.js"></script>
<script type="text/javascript" src="/static/vendor/datatables/js/datatables.js"></script>
<script>
    $(document).ready(function () {
        $('#messageTable').DataTable({
            language: {
                emptyTable: "No messages",
                info: "Showing _START_ to _END_ of _TOTAL_ messages",
                infoEmpty: "Showing 0 to 0 of 0 messages",
            },
            columnDefs: [ {
                targets: 1,
                width: "25%"
            },
            {
                targets: 2,
                width: "20%"
            },
            {
                targets: 0,
                width: "50px"
            } ],
            //autoWidth: true,
            order: [[1, "desc"]],
            paging: true,
            scrollY: "calc(30vh - 55px)",
            stateSave: true,
            searching: false,
            dom: "t<'row mt-2'<'messages-dt-info mt-auto mb-3 col'i><'messages-dt-paging mt-2 d-flex justify-content-end col'p>>"
        });
    });
</script>
{% endblock %}
