[Unit]
Description=OSP Celery Beat Service
After=network.target
After=redis.service
Requires=osp-celery.service

[Service]
User=www-data
Group=www-data
EnvironmentFile=/etc/default/celery
WorkingDirectory=/opt/osp
ExecStart=/bin/sh -c '${CELERY_BIN} -A $CELERY_APP beat'
Restart=always

[Install]
WantedBy=multi-user.target
