.player {
    margin-top: 50px;
}

.streamInfo{
    margin-top: 25px;
    width: 1280px;
    text-align: left;
}

.stream{
    margin: 64px;
}

.streamList a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.shadow{
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

}

.shadow a:hover {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}