{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Channels</title>
{% endblock %}

{% block body %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><b>Channels</b></div>
    </div>
    <div class="row mx-2">
        <div class="d-flex flex-wrap justify-content-between">
            {% for channel in channelList %}
                <div class="displayCard py-1 pr-1">
                    <a href="/channel/{{channel.id}}/">
                    <img class="shadow lazy" src="/images/{{channel.imageLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{channel.channelName}}</b></div>
                        {{channel.topic|get_topicName}}<br>
                        <b> {{channel.owningUser|get_userName}}</b><br>
                        <span class="displayCard-footer">
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{channel.views}}</span>
                        </span>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$('#search').on('input', function(){
    var query = document.getElementById("search").value.toLowerCase();
    $('.streamcard').each(function(){
         var $this = $(this);
         if($this.text().toLowerCase().indexOf(query) === -1)
             $this.closest('.streamcard').hide();
        else $this.closest('.streamcard').show();
    });
});
</script>
{% endblock %}


