{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Help</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
            <h1 id="top">Help</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
            <ul class="list-unstyled">
                <li><a href="#0">Streaming to OSP</a></li>
                <ul>
                    <li><a href="#00">With OBS</a></li>
                    <li><a href="#01">With ffmpeg</a></li>
                </ul>
                <li><a href="#1">Webhooks</a></li>
                <ul>
                    <li><a href="#10">Examples</a></li>
                </ul>
                <li><a href="#2">API</a></li>
                <ul>
                    <li><a href="#20">Examples</a></li>
                </ul>
                <li><a href="#3">Clips</a></li>
                <li><a href="#4">Video Uploads</a></li>
                <li><a href="#5">Channel Protection</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
            <h3 id="0">Streaming to OSP</h3>
            <p>meep</p>
            <h5 id="00">With OBS</h5>
            <p>meep</p>
            <h5 id="01">With ffmpeg</h5>
            <p>meep</p>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
            <h3 id="1">Webhooks</h3>
            <p>meep</p>
            <h5 id="10">Examples</h5>
            <p>meep</p>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
            <h3 id="2">API</h3>
            <p>meep</p>
            <h5 id="20">Examples</h5>
            <p>meep</p>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
            <h3 id="3">Clips</h3>
            <p>meep</p>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
            <h3 id="4">Video uploads</h3>
            <p>meep</p>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
            <h3 id="5">Channel protection</h3>
            <p>meep</p>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
    </div>
</div>

{% endblock %}