{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Help</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="pt-4 col-sm-12 col-md-10 col-lg-8 mx-auto">
            <h1 id="top">Help</h1>
        </div>
        <div class="pt-4 col-sm-12 col-md-10 col-lg-8 mx-auto">
            <ul class="list-unstyled">
                <li><a href="#0">Streaming to OSP</a></li>
                <ul>
                    <li><a href="#00">With OBS</a></li>
                    <li><a href="#01">With ffmpeg</a></li>
                    <li><a href="#02">Transcoding</a></li>
                    <li><a href="#03">Latency</a></li>
                </ul>
                <li><a href="#1">Webhooks</a></li>
                <ul>
                    <li><a href="#10">Examples</a></li>
                    <ul>
                        <li><a href="#100">Discord</a></li>
                        <li><a href="#101">Rocket.Chat</a></li>
                    </ul>
                </ul>
                <li><a href="#2">API</a></li>
                <ul>
                    <li><a href="#21">Example</a></li>
                </ul>
                <li><a href="#3">Clips</a></li>
                <li><a href="#4">Video Uploads</a></li>
                <li><a href="#5">Channel Protection</a></li>
            </ul>
        </div>
        <div class="pt-4 col-sm-12 col-md-10 col-lg-8 mx-auto">
            <h2 id="0">Streaming to OSP</h2>
            <p>
                In order to stream to OSP, a channel with a valid stream key is needed. After creating a channel, the streaming program must be set to the corresponding URL<br>
                <code class="text-success ml-4">rtmp://{{sysSettings.siteAddress}}/stream/&lt;steam-key&gt;</code><br>
                Note that only registered users with the <em>streamer</em> role are able to stream to OSP.
            </p>
            <h4 id="00">With OBS</h4>
            <p>TBD</p>
            <h4 id="01">With ffmpeg</h4>
            <p>TBD</p>
            <h4 id="01">Transcoding</h4>
            <p>
                <em>Transcoding</em> or <em>adaptive streaming</em> is possible with OSP. It can be enabled globally in the admin settings. However, this feature uses the CPU of the server to re-encode the streams and requires a lot of CPU power. It's possible to utilize GPUs instead by changing the encoder used by ffmpeg in the <code class="text-success">osp-rtmp.conf</code>. Enabling transcoding will increase the stream latency. It may be necessary to increase the playlist length (see <a href="#03">Latency</a>).
            </p>
            <p>
                By default, nginx has been configured to transcode 1080p, 720p, 480p, & 360p. You can optimize how streams are transcoded by editing the <code class="text-success">osp-rtmp.conf</code> file and following the instructions <a href="https://licson.net/post/setting-up-adaptive-streaming-with-nginx/">here</a>.
            </p>
            <h4 id="01">Latency</h4>
            <p>
                OSP uses HLS to serve RTMP streams to clients. This brings a certain latency by design. The default configuration of nginx is fine-tuned to reduce the latency as far as possible while providing stable HLS streams. For this configuration it is imporant that the encoder sends a keyframe every second! The latency should be 4.5 to 5 seconds.<br>
                If streams are buffering, it's most likely because of a suboptimal network connection. In this case, increase the <code class="text-success">hls_playlist_length</code> in the <code class="text-success">osp-rtmp.conf</code>. The latency will increase with a longer playlist length.
            </p>
            <p>
                RTMP capable players (e.g. <a href="https://www.videolan.org">VLC</a>) can access the RTMP stream directly. The URL is available in the <em>share</em> dialog below the stream. The latency of the RTMP stream should be 1 to 2 seconds.
            </p>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
        <div class="pt-4 col-sm-12 col-md-10 col-lg-8 mx-auto">
            <h2 id="1">Webhooks</h2>
            <p>
                OSP can send HTTP requests (GET,POST,PUT,DELETE) to notify other services about various triggers. Webhooks can be set globally in the admin settings and per channel by users. The HTTP requests are entirely definable (see <a href="#10">Examples</a> below).<br>
            </p>
            <p>
                Currently supported triggers:
            </p>
            <ul>
                <li>At the Start of a Live Stream</li>
                <li>At the End of a Live Stream</li>
                <li>On a New Viewer Joining a Live Stream</li>
                <li>On a Stream Upvote</li>
                <li>On a Stream Metadata Change (Name/Topic)</li>
                <li>On a Stream Chat Message</li>
                <li>On Posting of a New Video to a Channel</li>
                <li>On a New Video Comment</li>
                <li>On a Video Upvote</li>
                <li>On a Video Metadata Change (Name/Topic)</li>
            </ul>
            <p>
                When defining a webhook payload, various variables can be set which will be replaced with live data at the time the webhook is run. Webhook variables are defined as the following:
            </p>
            <ul>
                <li>%channelname%</li>
                <li>%channelurl%</li>
                <li>%channeltopic%</li>
                <li>%channelimage%</li>
                <li>%streamer%</li>
                <li>%channeldescription%</li>
                <li>%streamname%</li>
                <li>%streamurl%</li>
                <li>%streamtopic%</li>
                <li>%streamimage%</li>
                <li>%user%</li>
                <li>%userpicture%</li>
                <li>%videoname%</li>
                <li>%videodate%</li>
                <li>%videodescription%</li>
                <li>%videotopic%</li>
                <li>%videourl%</li>
                <li>%videothumbnail%</li>
                <li>%comment%</li>
            </ul>
            <h4 id="10">Examples</h4>
            <h5 id="100">Discord</h5>
            <p>
                Type: <b>POST</b><br>
                Trigger event: <b>Stream start</b>
            </p>
            <p>
                <b>Header</b>
            </p>
            <pre class="px-2 mx-5"><code>
{
    "Content-Type": "application/json"
}
            </code></pre>
            <p>
                <b>Payload</b>
            </p>
            <pre class="px-2 m-5"><code>
{
    "content": "%channelname% went live on OSP Test",
    "username": "OSP Bot",
    "embeds": [
        {
            "title": "%streamurl%",
            "url": "%streamurl%",
            "color": 6570404,
            "image": {
            "url": "%channelimage%"
        },
        "author": {
            "name": "%streamer% is now streaming"
        },
        "fields": [
            {
                "name": "Channel",
                "value": "%channelname%",
                "inline": true
            },
            {
                "name": "Topic",
                "value": "%streamtopic%",
                "inline": true
            },
            {
                "name": "Stream Name",
                "value": "%streamname%",
                "inline": true
            },
            {
                "name": "Description",
                "value": "%channeldescription%",
                "inline": true
            }
        ]
        }
    ]
}
            </code></pre>
            <h5 id="101">Rocket.Chat</h5>
            <p>TBD</p>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
        <div class="pt-4 col-sm-12 col-md-10 col-lg-8 mx-auto">
            <h2 id="2">API</h2>
            <p>
                OSP provides a self-documenting API using <a href="https://swagger.io">swagger.io</a>. The API can be accessed at <a href="{{sysSettings.siteProtocol}}{{sysSettings.siteAddress}}/apiv1">{{sysSettings.siteAddress}}/apiv1</a>. For authenticated endpoints, an API key is needed, which can be created by users with the <em>streamer</em> role in the user menu to the top right. Requests to authenticated endpoints must have the <code class="text-success">'X-API-KEY':</code> header field set with a valid API key.
            </p>
            <h5 id="21">Example</h5>
            <p>
                In this example a chat message is sent to a chat channel endpoint.
            </p>
            <p>
                Username: botname<br>
                Message: beep bob<br>
                Endpoint: channels/chat/72223bf3-be79-4a2a-88d9-c7bdce271f0e<br>
                API key: d26de1eb2d48a784e109b29025632fc1a0211a2ffbede09672c8cf6f4321fb0000c49cb243e2d07e
            </p>
            <pre class="px-2 mx-5"><code>
curl -X POST "http://localhost/apiv1/channels/chat/72223bf3-be79-4a2a-88d9-c7bdce271f0e?username=botname&message=beep%20bop" \
-H  "accept: application/json" -H  "X-API-KEY: d26de1eb2d48a784e109b29025632fc1a0211a2ffbede09672c8cf6f4321fb0000c49cb243e2d07e"
            </code></pre>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
        <div class="pt-4 col-sm-12 col-md-10 col-lg-8 mx-auto">
            <h2 id="3">Clips</h2>
            <p>TBD</p>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
        <div class="pt-4 col-sm-12 col-md-10 col-lg-8 mx-auto">
            <h2 id="4">Video uploads</h2>
            <p>TBD</p>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
        <div class="pt-4 col-sm-12 col-md-10 col-lg-8 mx-auto">
            <h2 id="5">Channel protection</h2>
            <p>TBD</p>
            <a href="#top"><i class="fas fa-arrow-circle-up"></i> top</a>
        </div>
    </div>
</div>

{% endblock %}