{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}}</title>
{% endblock %}

{% block body %}
<style>

.card-cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 260px;
  height: 1.35em;
  white-space: nowrap;
}

.index-live-title {
    font-size:1.35em;
    width: 100%;
}

.streamCard {
    width: 600px;
    height: 230px;
}

.streamCard img {
    width: 310px;
    height: 175px;
    object-fit: contain;
    overflow: hidden;
    color: gray;
    float: left;
}

.streamCard .card-data {
    margin-left:20px;
    float: left;
    font-size:1.15em;
}
.streamCard .card-data .streamCard-footer {
    font-size:.8em;
    position:relative;
    left: -10px;
    top: 45px;
}

.streamCard p .streamCard-footer i {
    color: blue;
}

.index-video-title {
    font-size:1.35em;
}

.videoCard {
    width: 600px;
    height: 230px;
}

.videoCard img {
    width: 310px;
    height: 175px;
    object-fit: contain;
    overflow: hidden;
    color: gray;
    float: left;

}

.videoCard .card-data {
    margin-left:20px;
    float: left;
    font-size:1.15em;
}
.videoCard .card-data .videoCard-footer {
    position: relative;
    left: -10px;
    top: 45px;
    font-size:.8em;
}

.videoCard p .videoCard-footer i {
    color: blue;
}
</style>

<div class="container-fluid p-2" id="index-live-container">
    <div class="row my-2">
        <div class="index-live-title"><b>Live Now</b></div>
    </div>
    <div class="row">
        <div class="d-flex flex-wrap justify-content-between">
            {% for stream in streamList %}
                <div class="streamCard py-1 pr-2">
                    <a href="/view/{{stream.channel.channelLoc}}/">
                    <img class="shadow lazy" src="/static/img/video-placeholder.jpg" data-src="/stream-thumb/{{stream.channel.channelLoc}}.png" onerror="this.src='/static/img/video-placeholder.jpg';">
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{stream.streamName|limit_title}}</b></div>
                        {{stream.channel.channelName}}<br>
                        {{stream.topic|get_topicName}}<br>
                        <span class="badge badge-danger">Live</span><br>
                        <span class="streamCard-footer pt-2">
                            <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{stream.id|get_Stream_Upvotes}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-eye"></i> {{stream.currentViewers}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{stream.totalViewers}}</span>
                        </span>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid p-2" id="index-videos-container">
    <div class="row my-2">
        <div class="index-video-title"><b>Videos</b></div>
    </div>
    <div class="row">
        <div class="d-flex flex-wrap justify-content-between">
            {% for video in randomRecorded %}
                <div class="videoCard py-1 pr-1">
                    <a href="/play/{{video.id}}">
                    <img class="shadow lazy" src="/static/img/video-placeholder.jpg" data-src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{video.channelName|limit_title}}</b></div>
                        {{video.channel.channelName}}<br>
                        {{video.topic|get_topicName}}<br>
                        {{video.videoDate|normalize_date}}<br>
                        <span class="videoCard-footer pt-2">
                            <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{video.id|get_Video_Upvotes}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{video.views}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-clock"></i> {{video.length|hms_format}}</span>
                        </span>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$('#search').on('input', function(){
    var query = document.getElementById("search").value.toLowerCase();
    $('.streamcard').each(function(){
         var $this = $(this);
         if($this.text().toLowerCase().indexOf(query) === -1)
             $this.closest('.streamcard').hide();
        else $this.closest('.streamcard').show();
    });
});
</script>
{% endblock %}

