{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}}</title>
{% endblock %}

{% block body %}
<style>
.index-live-title {
    font-size:1.35em;
    width: 100%;
}

.streamCard {
    width: 575px;
    height: 190px;
    border: 1px solid;
}

.streamCard img {
    width: 270px;
    height: 152px;
    object-fit: contain;
    overflow: hidden;
    color: gray;
    float: left;
}

.streamCard p {
    margin-left:10px;
    float: left;
    font-size:1.25em;
}
.streamCard p .streamCard-footer {
    font-size:.8em;
}

.streamCard p .streamCard-footer i {
    color: blue;
}
</style>

<div class="container-fluid m-3" id="index-live-container">
    <div class="row my-2">
        <div class="index-live-title"><b>Live Now</b></div>
    </div>
    <div class="row">
        <div class="d-flex flex-wrap">
            {% for stream in streamList %}
            <div class="streamCard p-3">
                <img class="lazy" src="/static/img/video-placeholder.jpg" data-src="/stream-thumb/{{stream.channel.channelLoc}}.png" onerror="this.src='/static/img/video-placeholder.jpg';">
                <p>
                    <b>{{stream.streamName|limit_title}}</b><br>
                    {{stream.channel.channelName}}<br>
                    {{stream.topic|get_topicName}}<br>
                    <span class="badge badge-danger">Live</span><br>
                    <span class="streamCard-footer">
                        <span class="d-flex justify-content-between">
                            <span><i class="fas fa-thumbs-up"></i> {{stream.id|get_Stream_Upvotes}}</span>
                            <span><i class="fas fa-eye"></i> {{stream.currentViewers}}</span>
                            <span><i class="fas fa-users"></i> {{stream.totalViewers}}</span>
                        </span>
                    </span>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$('#search').on('input', function(){
    var query = document.getElementById("search").value.toLowerCase();
    $('.streamcard').each(function(){
         var $this = $(this);
         if($this.text().toLowerCase().indexOf(query) === -1)
             $this.closest('.streamcard').hide();
        else $this.closest('.streamcard').show();
    });
});
</script>
{% endblock %}

