<!DOCTYPE html>
<html lang="en" class="Ash-BG">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel=stylesheet type=text/css href="/static/css/Defaultv2-Light.css">
    <link rel=stylesheet type=text/css href="/static/css/slider.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.css">
    <link href="/static/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
    <script src="/static/vendor/lazyload/js/lazyload.min.js"></script>

    {% block head %}

    {% endblock %}

</head>
<body>

<style>
    .main-navbar {
            font-size: 1.5em;
    }

    .navbar-title {
        font-size: 1.5em;
    }

    .navbar-search-container {
        width: 100%;

    }

    #navbar-search {
        width:400px;
    }
</style>

<div class="main-navbar">
    <nav class="navbar  navbar-expand-lg navbar-light bg-white">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{{sysSettings.systemLogo}}" width="48" height="48" class="d-inline-block align-top" alt="">
          <span class="navbar-title"><b>{{sysSettings.siteName}}</b></span>
      </a>
      <ul class="navbar-nav mr-auto"></ul>
      <div class="flex-grow-1 d-flex navbar-search-container">
            <form class="form-inline flex-nowrap mx-lg-auto rounded p-1">
              <div id="navbar-search" class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-search"></i></div>
                </div>
                <input type="text" id="search" name="search" class="searchBar form-control " placeholder="Search">
              </div>
            </form>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/channels"><b>Channels</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/topics"><b>Topics</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/streamers"><b>Streamers</b></a>
            </li>
        </ul>
      </div>
    </nav>
</div>

    {% block body %}

    {% endblock %}

    </div>


    <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
    <script src="/static/vendor/popper/js/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    {% block scripts %}

    {% endblock %}

<script>
$(document).ready(function(){
  $('.toast').toast('show');
});
</script>

<script>
    var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy"
});
</script>

</body>


</html>