<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel=stylesheet type=text/css href="/static/css/Defaultv2-Light.css">
    <link rel=stylesheet type=text/css href="/static/css/shared.css">
    <link rel=stylesheet type=text/css href="/static/css/slider.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.css">
    <link href="/static/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
    <script src="/static/vendor/lazyload/js/lazyload.min.js"></script>

    {% block head %}

    {% endblock %}

</head>
<body>

<div class="main-navbar">
    <nav class="navbar  navbar-expand-lg navbar-light bg-white">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{{sysSettings.systemLogo}}" width="48" height="48" class="d-inline-block align-top" alt="">
          <span class="navbar-title"><b>{{sysSettings.siteName}}</b></span>
      </a>
      <ul class="navbar-nav mr-auto"></ul>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" id="main-navbar-options">
            <!-- Removed Search While Completing Theme
            <div class="navbar-search-container">
                <form class="form-inline flex-nowrap mx-lg-auto rounded p-2">
                  <div id="navbar-search" class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                    <input type="text" id="search" name="search" class="searchBar form-control " placeholder="Search">
                  </div>
                </form>
            </div>-->
            <li class="nav-item px-3">
                <a class="nav-link" href="/channels"><b>Channels</b></a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/topics"><b>Topics</b></a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/streamers"><b>Streamers</b></a>
            </li>
            {% if user.is_authenticated == False %}
                <li class="nav-item px-3">
                    <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                {% if sysSettings.allowRegistration == True %}
                <li class="nav-item px-3">
                    <a class="nav-link" href="/register"><i class="far fa-id-card"></i> Register</a>
                </li>
                {% endif %}
            {% else %}
                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img width="30" height="30" class="userPhoto" src="/images/{{current_user.pictureLocation}}" onerror="this.src='/static/img/user2.png';"> {{current_user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      {% if user.has_role('Admin') %}
                        <a class="dropdown-item" href="/settings/admin"><i class="fas fa-server"></i> Admin</a>
                      {% endif %}
                      {% if user.has_role('Streamer') %}
                      <a class="dropdown-item" href="/settings/channels"><i class="fas fa-video"></i> My Channels</a>
                      <a class="dropdown-item" href="/settings/api"><i class="fas fa-key"></i> API Keys</a>
                      {% endif %}
                      <a class="dropdown-item" href="/settings/user"><i class="fas fa-cogs"></i> Settings</a>
                      <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                    </div>
                </li>
            </ul>
        {% endif %}
      </div>
    </nav>
</div>

<div style="position: absolute; top: 65px; right: 70px;z-index:9999999;" id="toastDiv">
{%- with messages = get_flashed_messages(with_categories=true) -%}
  {% if messages %}
      {% for category, message in messages %}
          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="30000" style="width:250px;">
              <div class="toast-header">
                <strong class="mr-auto">
                    <span class="toast-box {% if category == 'message' %}gray {% elif category == 'error'%}red {% elif category == 'success' %}green {% endif %}"> </span>
                    <span style="margin-left:5px;">{{category|upper}}</span>
                </strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body">
                {{message}}
              </div>
          </div>
      {% endfor %}
  {% endif %}
{%- endwith %}
</div>

    {% block body %}

    {% endblock %}

    </div>


    <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
    <script src="/static/vendor/popper/js/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    {% block scripts %}

    {% endblock %}

<script>
$(document).ready(function(){
  $('.toast').toast('show');
});
</script>

<script>
    var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy"
});
</script>

</body>


</html>