{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - XMPP</title>
<link href="/static/vendor/jsxc/styles/jsxc.bundle.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

    User <input type="text" id="username">
    Password <input type="password" id="password">
    <button id="submit">Log in</button>
{% endblock %}

{% block scripts %}
<script src="/static/vendor/jsxc/jsxc.bundle.js"></script>
<script>
var jsxc = new JSXC();

$('#submit').click(function(){
  console.log("Starting");
  var username = $('#username').val();
  var password = $('#password').val();

  var url = '/http-bind/';
  var jid = username + '@localhost';

  jsxc.start(url, jid , password);
});
</script>


{% endblock %}