{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - XMPP</title>
<link href="/static/vendor/jsxc/styles/jsxc.bundle.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

<form id="form">
    User <input type="text" id="username">
    Password <input type="password" id="password">
    <button type="button" id="submit"></button>
</form>

<script src="/static/vendor/jsxc/jsxc.bundle.js"></script>
<script>
let jsxc = new JSXC();

$('#submit').click(function(){
  let username = $('#username').val();
  let password = $('#password').val();

  let url = '/http-bind/';
  let jid = username + '@localhost';

  jsxc.start(url, jid , password);
});
</script>


{% endblock %}