{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Streamers</title>
{% endblock %}

{% block body %}

<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-live-title"><b>Streamers</b></div>
    </div>
    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-around">
                {% for streamer in streamerList %}
                <div class="streamerCard py-1 pr-2">
                    <a href="/streamers/{{streamer.id}}/">
                        <img class="shadow lazy" src="/images/{{streamer.pictureLocation}}" onerror="this.src='/static/img/user2.png';">
                        <div class="card-data">
                            <div class="card-cut-text"><b>{{streamer.username}}</b></div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}