{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}
{% block head %}
<title>{{sysSettings.siteName}} - {{title}}</title>

{% endblock %}

{% block body %}
{% if channelData is defined %}
<div class="container-fluid justify-content-center" style="width:100%">
    <div class="jumbotron shadow p-3">
        <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 no-stream-jumbo">
                <div>
                    <img class="shadow" src="/images/{{channelData.imageLocation}}" width="100%" onerror="this.src='/static/img/video-placeholder.jpg';">
                </div>
            </div>
            <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12">
                <div class="h-100 viewerText">
                    <h2 class="display-5"><b><i class="fas fa-video"></i> {{channelData.channelName}}</b></h2>
                    <h2 class="display-5"><img width="34" height="34" class="userphoto" src="{{channelData.owningUser|get_pictureLocation}}" onerror="this.src='/static/img/user2.png';"> {{channelData.owningUser|get_userName}}</h2>
                    <span>{{channelData.description}}</span><br>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <span class="float-right"><a href="/view/{{channelData.channelLoc}}" class="btn btn-primary">View Live Channel</a></span>
            </div>
        </div>



    </div>
</div>
{% endif %}
{% if openStreams %}
<div class="container-fluid p-2" id="index-live-container">

    <div class="row m-2">
        <div class="index-live-title"><b>Live Now</b></div>
    </div>

    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-between">
                {% for stream in openStreams %}
                <div class="video-card bg-dark mb-3" style="max-width: 45rem;">
                    <div class="row no-gutters">
                        <div class="video-card-header">
                            <a href="/view/{{stream.channel.channelLoc}}/">
                                <img class="shadow lazy" src="/static/img/video-placeholder.jpg" width="100%" data-src="/stream-thumb/{{stream.channel.channelLoc}}.png" onerror="this.src='/static/img/video-placeholder.jpg';"></a>
                        </div>
                        <div class="video-card-body ml-3">
                            <b><i class="px-2 fas fa-tv"></i></b><span class="video-title"><a href="/view/{{stream.channel.channelLoc}}/"><b>{{stream.streamName|limit_title}}</b></a></span><br />
                            <b><i class="px-2 fas fa-video "></i></b><a href="/channel/{{stream.channel.id}}/"> {{stream.channel.channelName}}</a>
                            <span class="float-right"><span class="ml-4 px-2 badge badge-danger">Live</span></span><br />
                            <b><i class="px-2 fas fa-hashtag"></i></b><a href="/topic/{{stream.topic}}/"> {{stream.topic|get_topicName}}<br></a>
                            <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{stream.id|get_Stream_Upvotes}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-eye"></i> {{stream.currentViewers}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{stream.totalViewers}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
{% endif %}

<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><b>Videos</b></div>
    </div>
    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-between">
                {% for video in recordedVids %}
                <div class="video-card bg-dark mb-3" style="max-width: 20rem;">
                    <div class="video-card-header">
                        <a href="/play/{{video.id}}">
                            <img class="shadow lazy" src="/static/img/video-placeholder.jpg" width="100%" data-src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                        </a>
                    </div>
                    <div class="video-card-body">
                        <b><i class="fas fa-tv mr-2"></i></b><span class="video-title"><a href="/play/{{video.id}}"><b> {{video.channelName|limit_title}}</b></a></span><br />
                        <i class="fas fa-calendar-alt mr-2"></i> {{video.videoDate|normalize_date}}
                        <span class="float-right"><i class="fas fa-clock mr-2"></i> {{video.length|hms_format}}</span>
                        <br />
                        <b><i class="fas fa-video mr-2"></i></b><a href="/channel/{{video.channel.id}}/"> {{video.channel.channelName}}</a>
                        <span class="float-right px-2 flex-fill"><i class="fas fa-users mr-2"></i> {{video.views}}</span>
                        <br />
                        <b><i class="fas fa-hashtag mr-2"></i></b> <a href="/topic/{{video.topic}}/"> {{video.topic|get_topicName}}</a>
                        <span class="float-right"><i class="fas fa-thumbs-up mr-2"></i> {{video.id|get_Video_Upvotes}}</span>

                        <br />
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $('#search').on('input', function () {
        var query = document.getElementById("search").value.toLowerCase();
        $('.streamcard').each(function () {
            var $this = $(this);
            if ($this.text().toLowerCase().indexOf(query) === -1)
                $this.closest('.streamcard').hide();
            else $this.closest('.streamcard').show();
        });
    });
</script>
{% endblock %}