{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Administration Page</title>

<script type="text/javascript" src="/static/vendor/socketio/js/socket.io.min.js"></script>
<script type="text/javascript" src="/static/vendor/chartjs/js/Chart.bundle.min.js"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12" style="margin-top:15px;">
          <div class="card" style="width:100%">
          <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link link" href="#" onclick="toggleDiv('dashboard')">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#" onclick="toggleDiv('adminSettings')">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#" onclick="toggleDiv('userList')">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#" onclick="toggleDiv('topicsList')">Topics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#" onclick="toggleDiv('channelsList')">Channels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#" onclick="toggleDiv('streamsList')">Streams</a>
                </li>
              </ul>
          </div>
          <div class="card-body">
            <div style="padding-bottom:20px;padding-top:10px;">
                <div class="settingsOption" id="dashboard">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div>
                                    <h2><i class="fas fa-server"></i> Server Info</h2><br>
                                    <b><img src="/static/img/logo.png" width="64px" height="64px"> Open Streaming Platform</b><br>
                                    <div style="margin-left:70px;">
                                        <b>Server Version:</b> Pre-Beta 1 <br>
                                        <b>Git Branch:</b> {{repoBranch}} <br>
                                        <b>Git Commit Hash:</b> {{repoSHA}}  {% if repoSHA != remoteSHA %} <span class="badge badge-success">Update Available!</span> {% else %} <span class="badge badge-secondary">No Update Available</span>{% endif %}<br>
                                        <b>Database Version:</b> {{appDBVer}} <br>
                                    </div>
                                </div><br>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header"><i class="fas fa-chart-bar"></i> Resource Usage</div>
                                    <div class="card-body">
                                        CPU<br>
                                        <div class="progress">
                                          <div id="cpuUsage" class="progress-bar" role="progressbar" style="width: 0%;color:black;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div><br>
                                        Memory<br>
                                        <div class="progress">
                                          <div id="memoryUsage" class="progress-bar" role="progressbar" style="width: 0%;color:black;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div><br>
                                        Disk<br>
                                        <div class="progress">
                                          <div id="diskUsage" class="progress-bar" role="progressbar" style="width: 0%;color:black;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="card">
                                    <div class="card-header"><i class="fas fa-chart-bar"></i> Viewer Stats</div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-6 col-md-12">
                                                <div class="callout callout-success"><h4>Current Stream Viewers</h4><br><h2>{{currentViewers}}</h2></div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="callout callout-primary"><h4>Total Viewers (30 days)</h4><br><h2>{{viewersTotal}}</h2></div>
                                            </div>
                                        </div>
                                        <div id="statChart">
                                            <canvas id="viewershipChart" width="400" height="400"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="settingsOption" id="adminSettings" style="display:none;">
                    <h5>Configuration Options</h5>
                      <form action="/settings/admin" method="post">
                          <div class="row">
                              <div class="col-sm-12 col-md-6">
                                  <h4><i class="fas fa-server"></i> Server Settings</h4>
                                  Server Name: <input type="text" name="serverName" class="form-control" value="{{sysSettings.siteName}}"required>
                                  Server Hostname/IP Address: <input type="text" name="serverAddress" class="form-control" value="{{sysSettings.siteAddress}}" required>
                                  <hr>
                                  Theme:
                                  <select class="form-control" name="theme">
                                      {% for theme in themeList %}
                                      <option value="{{theme}}" {% if sysSettings.systemTheme == theme %} selected {% endif %}>{{theme}}</option>
                                      {% endfor %}
                                  </select>
                                  <hr>
                                  Allow Users to Register:<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="registerSelect" name="registerSelect" {% if sysSettings.allowRegistration == True %} checked {% endif %}>
                                  <br>
                                  Allow Users to Record:<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="recordSelect" name="recordSelect" {% if sysSettings.allowRecording == True %} checked {% endif %}>
                                  <br>
                                  Display Empty Channels, Streamers, and Topics<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="showEmptyTables" name="showEmptyTables" {% if sysSettings.showEmptyTables == True %} checked {% endif %}>
                              </div>
                              <div class="col-sm-12 col-md-6">
                                  <h4><i class="fas fa-envelope"></i> Email Settings</h4>
                                  SMTP Email From: <input type="email" name="smtpSendAs" class="form-control" value="{{sysSettings.smtpSendAs}}" required>
                                  SMTP Address: <input type="text" name="smtpAddress" class="form-control" value="{{sysSettings.smtpAddress}}" required>
                                  SMTP Port: <input type="number" name="smtpPort" class="form-control" value={{sysSettings.smtpPort}} required>
                                  SMTP Username:<input type="text" name="smtpUser" class="form-control" value="{{sysSettings.smtpUsername}}">
                                  SMTP Password<input type="password" name="smtpPassword" class="form-control" value="{{sysSettings.smtpPassword}}">
                                  SMTP SSL:<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="smtpSSL" name="smtpSSL" {% if sysSettings.smtpSSL == True %} checked {% endif %}>
                                  <br>
                                  SMTP TLS:<br>
                                  <input type="checkbox" data-toggle="toggle" data-width="50" data-on=" " data-off=" " id="smtpTLS" name="smtpTLS" {% if sysSettings.smtpTLS == True %} checked {% endif %}>
                              </div>
                              <hr>
                          </div><br>
                          <div class="row">
                              <div class="col-12">
                                  <input type="hidden" value="system" id="settingType" name="settingType">
                                  <div class="form-row text-center">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                </div>
                <div class="settingsOption" id="userList" style="display:none;">
                    <h5>User List</h5>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">User ID</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Active?</th>
                                    <th scope="col">Confirmed On</th>
                                    <th scope="col">Roles</th>
                                    <th scope="col">Channels</th>
                                    <th scope="col">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in userList %}
                            <tr>
                                <td>{{user.id}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.active}}</td>
                                <td>{{user.confirmed_at}}</td>
                                <td>{% for role in user.roles %}
                                    <span class="badge badge-info">{{role.name}} <a href="/settings/admin?action=delete&setting=userRole&userID={{user.id}}&roleID={{role.id}}"><i class="far fa-trash-alt"></i></a></span><br>
                                    {% endfor %}
                                </td>
                                <td></td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Role</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/settings/admin?action=add&setting=userRole&userID={{user.id}}&roleName=Admin">Admin</a>
                                            <a class="dropdown-item" href="/settings/admin?action=add&setting=userRole&userID={{user.id}}&roleName=Streamer">Streamer</a>
                                            <a class="dropdown-item" href="/settings/admin?action=add&setting=userRole&userID={{user.id}}&roleName=User">User</a>
                                        </div>
                                    </div>
                                    <a href="/settings/admin?action=delete&setting=users&userID={{user.id}}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="settingsOption" id="topicsList" style="display:none;">
                    <h5>Topics List</h5>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Topic Name</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for topic in topicsList %}
                            <tr>
                                <form action="/settings/admin" enctype=multipart/form-data method="post">
                                    <td>
                                        <input type="text" name="name" id="name" class="form-control" value="{{topic.name}}" required>
                                    </td>
                                    <td>
                                        <img width="284" height="155" src="/images/{{topic.iconClass}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                                        <br>
                                        <input type=file name=photo class="form-control-file" value="Upload a Photo" style="margin-top:10px;width:384px;">
                                        <input type="hidden" value="{{topic.id}}" id="topicID" name="topicID">
                                        <input type="hidden" value="topics" id="settingType" name="settingType">
                                    </td>
                                    <td>
                                        <input type="submit" class="btn btn-success" value="&#128393;">
                                        <a href="/settings/admin?action=delete&setting=topics&topicID={{topic.id}}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </form>
                            </tr>
                            {% endfor %}
                            <tr>
                                <form action="/settings/admin" enctype=multipart/form-data method="post">
                                    <td>
                                        <input type="text" name="name" id="name" class="form-control" required>
                                    </td>
                                    <td>
                                        <img width="284" height="155" src="/static/img/video-placeholder.jpg">
                                        <br>
                                        <input type=file name=photo class="form-control-file" value="Upload a Photo" style="margin-top:10px;width:384px;">
                                        <input type="hidden" value="topics" id="settingType" name="settingType">
                                    </td>
                                    <td>
                                        <input type="submit" class="btn btn-success" value="&#43;">
                                </td>
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="settingsOption" id="channelsList" style="display:none;">
                    <h5>Channels List</h5>
                    <br>
                    <div class="container-fluid">
                        {% for channel in channelList %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card shadow">
                                  <div class="card-header">
                                      <b><a href="/channel/{{channel.id}}/">{{channel.channelName}}</a></b>
                                    <div class="float-right"><a href="/settings/admin?action=delete&setting=channel&channelID={{channel.id}}" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a></button></div>
                                  </div>
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-xl-2"><img class="channel-img" src="/images/{{channel.imageLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';"></div>
                                      <div class="col-xl-3">
                                        <i class="fas fa-hashtag"></i> {{channel.topic|get_topicName}} <br>
                                        <i class="fas fa-user"></i> {{channel.owningUser|get_userName}} <br>
                                        <i class="fas fa-terminal"></i> {{channel.channelLoc}} <br>
                                        <i class="fas fa-eye"></i> {{channel.views}} <br>
                                        <i class="fas fa-hdd"></i> {{channel.channelLoc|get_diskUsage}} <br>
                                      </div>
                                      <div class="col-xl-4">
                                        <i class="fas fa-paragraph"></i> {{channel.description}}<br>
                                      </div>
                                      <div class="col-xl-2">
                                        <i class="fas fa-comment"></i> <span class="badge {% if channel.chatEnabled == True %} badge-success {% elif channel.chatEnabled == False %} badge-danger {% endif %}"> {{channel.chatEnabled}} </span> <br>
                                          <i class="fas fa-save"></i> <span class="badge {% if channel.record == True %} badge-success {% elif channel.record == False %} badge-danger {% endif %}"> {{channel.record}}</span>  <br>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="settingsOption" id="streamsList" style="display:none;">
                    <h5>Stream List</h5>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Stream ID</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Topic</th>
                                    <th scope="col">Current Viewers</th>
                                    <th scope="col">Total Viewers</th>
                                    <th scope="col">Last Image</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for stream in streamList %}
                            <tr>
                                <td>{{stream.id}}</td>
                                <td>{{stream.channel.owningUser|get_userName}}</td>
                                <td>{{stream.streamName}}</td>
                                <td>{{stream.topic|get_topicName}}</td>
                                <td>{{stream.currentViewers}}</td>
                                <td>{{stream.totalViewers}}</td>
                                <td><img width="284" height="155" src="/live{% if stream.channel.record == True %}-rec{% endif %}/{{stream.channel.channelLoc}}.png" onerror="this.src='/static/img/video-placeholder.jpg';"></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function toggleDiv(selDiv){
        var divid = '#' + selDiv;
        $('.settingsOption').hide();
        $(divid).show();
    }
</script>

<script type="text/javascript" charset="utf-8">
    var conn_options = {
        'sync disconnect on unload':true
    };

    var socket = io();
</script>

<script>
    socket.on('connect', function() {
        socket.emit('getServerResources',{data:"0"});
        console.log('Sent Resource Request')
    });
</script>

<script>
    setInterval(function() {
      socket.emit('getServerResources',{data:"0"});
      console.log('Sent Resource Request')
    },10000 );
</script>

<script>
    socket.on('serverResources', function(msg) {
        console.log('Recieved:' + msg)

        $('#cpuUsage').attr('aria-valuenow', msg['cpuUsage']).css('width',msg['cpuUsage'] + '%');
        $('#cpuUsage').text(msg['cpuUsage'] + '%')

        $('#memoryUsage').attr('aria-valuenow', msg['memoryUsage']).css('width',msg['memoryUsage'] + '%');
        $('#memoryUsage').text(msg['memoryUsage'] + '%')

        $('#diskUsage').attr('aria-valuenow', msg['diskUsage']).css('width',msg['diskUsage'] + '%');
        $('#diskUsage').text(msg['diskUsage'] + '%')

    });
</script>
<script>
    var ctx = document.getElementById('viewershipChart').getContext('2d');
    ctx.canvas.width = 1024
    ctx.canvas.height = 380;
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {

            datasets: [{
                label: "Live Viewers",
                fill: false,
                borderColor: 'rgb(255, 0, 0)',
                spanGaps: true,
                lineTension: 0,
                data:[
                    {% for entry in statsViewsDay['live'] %}
                        {x:'{{entry['t']}}',y:{{entry['y']}}},
                    {% endfor %}
                ]},
                {
                label: "Video Viewers",
                fill: false,
                borderColor: 'rgb(0, 0, 255)',
                spanGaps: true,
                lineTension: 0,
                data:[
                    {% for entry in statsViewsDay['recorded'] %}
                        {x:'{{entry['t']}}',y:{{entry['y']}}},
                    {% endfor %}
                ]
            }]
        },

        // Configuration options go here
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD',
                        unit: 'day'
                    }
                }],
            }
        }
    });
</script>
{% endblock %}

