{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% from "themes/" + sysSettings.systemTheme + "/macros/shared.html" import nav_item_entry with context %}
{% from "themes/" + sysSettings.systemTheme + "/macros/admin_page.html" import osp_info_box, metric_box, system_status_box, channels_currently_live_box, system_log_box with context %}

{% block head %}
<title>{{sysSettings.siteName}}</title>
<meta name="twitter:card" content="app" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{sysSettings.siteName}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/{{sysSettings.systemLogo}}" />

<script type="text/javascript" src="/static/vendor/chartjs/js/Chart.bundle.min.js"></script>
{% endblock %}

{% block body %}
    <div class="admin-nav">
        <ul class="nav" id="admin-nav-list" role="tablist">
            {{ nav_item_entry("Dashboard", True) }}
            {{ nav_item_entry("Settings", False) }}
            {{ nav_item_entry("OAuth", False) }}
            {{ nav_item_entry("RTMP", False) }}
            {{ nav_item_entry("Edge", False) }}
            {{ nav_item_entry("Webhooks", False) }}
            {{ nav_item_entry("Stickers", False) }}
            {{ nav_item_entry("Users", False) }}
            {{ nav_item_entry("Topics", False) }}
            {{ nav_item_entry("Channels", False) }}
            {{ nav_item_entry("Streams", False) }}
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active w-100" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
          <div class="row mt-4 mx-4">
            <div class="col-12 col-md-auto">
                {{ osp_info_box(sysSettings.version) }}
            </div>
            <div class="col-12 col-md-3">
                {{ metric_box("osp-live-streams", "Current Live Streams", 5, "green-fill") }}
            </div>
            <div class="col-12 col-md-3">
                {{ metric_box("osp-live-viewers", "Current Viewers", 100, "blue-fill") }}
            </div>
          </div>
          <div class="row mt-4 mx-1">
            <div class="col-12 col-md-2">
                {{ system_status_box() }}
            </div>
            <div class="col-12 col-md-10">
                <div class="info-panel-box">
                    <div class="info-panel-box-header boxShadow textShadow">
                        <b>Viewer Statistics</b>
                    </div>
                    <div class="info-panel-box-body boxShadow">
                        <div class="admin-viewerchart">
                            <div id="statChart">
                                <canvas id="viewershipChart" style="width:100%;height:215px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row mt-4 mx-1">
            <div class="col-12">
                {{ channels_currently_live_box(streamList) }}
            </div>
          </div>
          <div class="row mt-4 mx-1">
            <div class="col-12">
                {{ system_log_box(logsList) }}
            </div>
          </div>
        </div>
        <div class="tab-pane fade w-100" id="settings" role="tabpanel" aria-labelledby="settings-tab">
          <div class="row mt-2 mx-2">
            <div class="col-12">
                <div class="info-panel-box system-settings-box">
                    <div class="info-panel-box-header boxShadow textShadow">
                        <b>Settings</b>
                    </div>
                    <div class="info-panel-box-body boxShadow">
                        <div class="row my-3">
                            <div class="col-3">
                                <label for="settings-servername-input" class="form-label">Server Name</label>
                                <input type="text" id="settings-servername-input" class="form-control" value="{{sysSettings.siteName}}">
                            </div>
                            <div class="col">
                                <div class="form-check form-switch">
                                    <label class="form-check-label" for="maintmodetoggle">Maintenance Mode</label>
                                    <input class="form-check-input" type="checkbox" id="maintmodetoggle" {% if sysSettings.maintenanceMode == True %} checked {% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-1">
                                <label for="settings-protocol-input" class="form-label">Protocol</label>
                                <select id="settings-protocol-input" class="form-select">
                                  <option value="http://" {% if sysSettings.siteProtocol == 'http://' %} selected {% endif %}>http://</option>
                                  <option value="https://" {% if sysSettings.siteProtocol == 'https://' %} selected {% endif %}>https://</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="settings-hostname-input" class="form-label">Hostname / IP Address</label>
                                <input type="text" id="settings-hostname-input" value="{{ sysSettings.siteAddress }}" class="form-control" required>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-3">
                                <label for="settings-proxyhostname-input" class="form-label">OSP-Proxy Hostname</label>
                                <input type="text" id="settings-proxyhostname-input" class="form-control" value="{% if sysSettings.proxyFQDN != None %}{{sysSettings.proxyFQDN}}{% endif %}">
                                <div id="proxyhostnameHelp" class="form-text">Leave Blank if no OSP-Proxy Server is Used</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row mt-4 mx-2">
            <div class="col-12">
                <div class="info-panel-box system-appearance-box">
                    <div class="info-panel-box-header boxShadow textShadow">
                        <b>Appearance</b>
                    </div>
                    <div class="info-panel-box-body boxShadow">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row my-3">
                                    <div class="col-3">
                                          <label for="systemLogo" class="form-label">Logo</label><br>
                                          <img id="systemLogo" src="{{sysSettings.systemLogo}}" width="64" height="64">
                                          <input class="form-control" type="file" id="formFile">
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col-3">
                                        <label for="theme-input">Theme</label>
                                        <select class="form-select" id="theme-input" name="theme">
                                            {% for theme in themeList %}
                                            <option value="{{theme}}" {% if sysSettings.systemTheme == theme %} selected {% endif %}>{{theme}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row my-3">
                                    <div class="col-4">
                                        <label for="settings-announcementtitle-input" class="form-label">Server Announcement Header Title</label>
                                        <input type="text" id="settings-announcementtitle-input" value="{{ sysSettings.serverMessageTitle }}" class="form-control">
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col-5">
                                        <label for="settings-announcementcontent-input" class="form-label">Announcement Message</label>
                                        <textarea class="form-control" name="serverMessage" id="settings-announcementcontent-input" maxlength="2048">{{sysSettings.serverMessage}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/vendor/datatables/js/jquery.datatables.js"></script>
<script type="text/javascript" src="/static/vendor/datatables/js/datatables.js"></script>
<script>
    var viewerChartWidth = 640;
    var viewerChartHeight = 215;
    var viewerChartDataLive = [
        {% for entry in statsViewsDay['live'] %}
            {x:'{{entry['t']}}',y:{{entry['y']}}},
        {% endfor %}
    ];
    var viewerChartDataVideo = [
        {% for entry in statsViewsDay['recorded'] %}
            {x:'{{entry['t']}}', y:{{entry['y']}}},
        {% endfor %}
    ];

    $(document).ready(function() {
        $('#logTable').DataTable({
            "order": [[ 0, "desc" ]]
        });
    } );
</script>

<script type="text/javascript" src="/static/js/adminv2.js"></script>
{% endblock %}