{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% import "themes/" + sysSettings.systemTheme + "/macros/admin_page.html" as admin with context %}

{% block head %}
<title>{{sysSettings.siteName}}</title>
<meta name="twitter:card" content="app" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{sysSettings.siteName}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/{{sysSettings.systemLogo}}" />

<script type="text/javascript" src="/static/vendor/chartjs/js/Chart.bundle.min.js"></script>
{% endblock %}

{% block body %}
    <div class="admin-nav">
        <ul class="nav" id="admin-nav-list" role="tablist">
            {{ admin.nav_item_entry("Dashboard", True) }}
            {{ admin.nav_item_entry("Settings", False) }}
            {{ admin.nav_item_entry("OAuth", False) }}
            {{ admin.nav_item_entry("RTMP", False) }}
            {{ admin.nav_item_entry("Edge", False) }}
            {{ admin.nav_item_entry("Webhooks", False) }}
            {{ admin.nav_item_entry("Stickers", False) }}
            {{ admin.nav_item_entry("Users", False) }}
            {{ admin.nav_item_entry("Topics", False) }}
            {{ admin.nav_item_entry("Channels", False) }}
            {{ admin.nav_item_entry("Streams", False) }}
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active w-100" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
          <div class="row mt-4 mx-4">
            <div class="col-12 col-md-auto">
                {{ admin.osp_info_box(sysSettings.version) }}
            </div>
            <div class="col-12 col-md-3">
                {{ admin.metric_box("osp-live-streams", "Current Live Streams", 5, "green-fill") }}
            </div>
            <div class="col-12 col-md-3">
                {{ admin.metric_box("osp-live-viewers", "Current Viewers", 100, "blue-fill") }}
            </div>
          </div>
          <div class="row mt-4 mx-1">
            <div class="col-12 col-md-2">
                {{ admin.system_status_box() }}
            </div>
            <div class="col-12 col-md-10">
                {{ admin.chart_box("viewershipChart", "100%", "215px") }}
            </div>
          </div>
          <div class="row mt-4 mx-1">
            <div class="col-12">
                {{ admin.channels_currently_live_box(streamList) }}
            </div>
          </div>
          <div class="row mt-4 mx-1">
            <div class="col-12">
                {{ admin.system_log_box(logsList) }}
            </div>
          </div>
        </div>
        <div class="tab-pane fade w-100" id="settings" role="tabpanel" aria-labelledby="settings-tab">
          <div class="row mt-2 mx-2">
            <div class="col-12">
                {{ admin.settings_panel(sysSettings) }}
            </div>
          </div>
          <div class="row mt-4 mx-2">
            <div class="col-12">
                {{ admin.appearance_panel(sysSettings) }}
            </div>
          </div>
          <div class="row mt-4 mx-2">
            <div class="col-12">
                {{ admin.email_panel(sysSettings) }}
            </div>
          </div>
          <div class="row mt4 mx-2">
              <div class="col-12">
                  {{ channel_settings_panel(sysSettings) }}
              </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/vendor/datatables/js/jquery.datatables.js"></script>
<script type="text/javascript" src="/static/vendor/datatables/js/datatables.js"></script>
<script>
    var viewerChartDataLive = [
        {% for entry in statsViewsDay['live'] %}
            {x:'{{entry['t']}}',y:{{entry['y']}}},
        {% endfor %}
    ];
    var viewerChartDataVideo = [
        {% for entry in statsViewsDay['recorded'] %}
            {x:'{{entry['t']}}', y:{{entry['y']}}},
        {% endfor %}
    ];

    $(document).ready(function() {
        $('#logTable').DataTable({
            "order": [[ 0, "desc" ]]
        });
    } );
</script>

<script type="text/javascript" src="/static/js/adminv2.js"></script>
{% endblock %}