{% import "themes/" + sysSettings.systemTheme + "/macros/panels.html" as panels with context %}

<!--Start Header Block-->
{% block head %}
<title>{{sysSettings.siteName}} - {{channel.channelName}}</title>
<meta name="twitter:card" content="player" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{channel.channelName}}" />
<meta property="og:type" content="video.other" />
<meta property="og:url" content="{{sysSettings.siteProtocol}}{{sysSettings.siteAddress}}/view/{{channel.channelLoc}}" />
<meta property="og:image" content="{{sysSettings.siteProtocol}}{{sysSettings.siteAddress}}/images/{{channel.imageLocation}}" />
<meta property="og:description" content="{{channel.description}}" />
<meta property="og:video" content="{{sysSettings.siteProtocol}}{{sysSettings.siteAddress}}{{streamURL}}" />
<meta property="og:video:type" content="application/x-mpegURL" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">

<link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">
<link href="/static/vendor/videojs-http-source-selector/videojs-http-source-selector.css" rel="stylesheet">
<link href="/static/css/Defaultv3/chat.css" rel="stylesheet">
{% endblock %}

<!--Start Body Block-->
{% block body %}
    <div class="row gx-0">
        <div id="mainContentPanel">
            <div style="width: 100%;height: 100%;">
                {{ panels.live_stream_embed(channel, autoplay=isAutoPlay) }}
            </div>
        </div>
    </div>
{% endblock %}

<!--Start Script Block-->
{% block scripts %}
    <script src="/static/vendor/jquery/js/jquery-3.6.0.min.js"></script>
    <script src="/static/vendor/videojs/js/video.js"></script>
    <script src="/static/vendor/videojs-http-source-selector/videojs-http-source-selector.js"></script>
    <script src="/static/vendor/videojs-contrib-quality-levels/js/videojs-contrib-quality-levels.js"></script>
    <script src="/static/vendor/momentjs/js/moment.js" type="text/javascript"></script>
    <script src='/static/vendor/strophe/js/strophe.min.js' type="text/javascript"></script>
    <script src='/static/vendor/strophe/js/strophe.disco.js' type="text/javascript"></script>
    <script src="/static/vendor/strophe/js/strophe.muc.min.js" type="text/javascript"></script>
    <script src="/static/vendor/strophe/js/strophe.vcard.min.js" type="text/javascript"></script>
    <script src="/static/vendor/strophe/js/strophe.ping.js" type="text/javascript"></script>
    <script src='/static/js/channelembed.js' type="text/javascript"></script>

    <script>
        var streamURL = '{{ streamURL }}';
        var channelLocation = '{{ channel.channelLoc }}';
    </script>

    <script>
        // Generate HLS Tokens
        {% if current_user.is_authenticated %}
            var hls_user = "{{ current_user.username }}"
        {% else %}
            var hls_user = "Guest"
        {% endif %}
        var hls_token = hls_user + "_{{ channel.channelLoc | generatePlaybackAuthToken }}"

        // Initialize Stream Player
        videojs.Vhs.xhr.beforeRequest = (options) => {
            options.headers = {
                "X-Token-Session": hls_token
            };
            return options;
        };

        // Settings and Event Hooks for XMPP
        {% if current_user.is_authenticated %}
        var username = "{{current_user.username}}";
        var userUUID = "{{current_user.uuid}}";
        var xmppPassword = "{{current_user.xmppToken}}";
        {% else %}
        var username = "EmbedViewer" + (Math.floor(Math.random() * 50000) + 1).toString();
        var userUUID = "{{session['guestUUID']}}";
        var xmppPassword = "fakepw";
        {% endif %}
        var serverproto = '{{sysSettings.siteProtocol}}';
        var server = '{{sysSettings.siteAddress}}';
        var BOSH_SERVICE = serverproto + '{{xmppserver}}' + '/http-bind/';
        var ROOM_SERVICE = 'conference.' + server;
        var ROOMNAME = '{{channel.channelLoc}}';
        var CHANNELPROTECTED = {{channel.protected|lower}};
        {% if channel.protected %}
        var CHANNELTOKEN = '{{channel.xmppToken}}';
        {% else %}
        var CHANNELTOKEN = null;
        {% endif %}
        var CHATSTATUS = {jid: null, username: null, role:null, affiliation: null, muteList: [] };

        var username = username.replace(/ /g,"_");

        // Start Connection on Load
        $(window).bind('load', function() {
            var url = BOSH_SERVICE;
            connection = new Strophe.Connection(url);
            connection.rawInput = rawInput;
            connection.rawOutput = rawOutput;
            connection.connect(userUUID + '@' + server, xmppPassword, onConnect);
        });

        // Disconnect XMPP on Page Unload
        $(window).bind('beforeunload', function(){
              // Terminate Video Player to Speed up Page Load
              player.pause();
              player.reset();
              // Leave Room First
              exitRoom(ROOMNAME + '@' + ROOM_SERVICE);
              // Execute XMPP Disconnection Process
              //connection.options.sync = true; // Switch to using synchronous requests since this is typically called onUnload.
              connection.flush();
              connection.disconnect();
             // Disconnect from SocketIO
        });
    </script>

    <script>
        // Initialize Stream Player
        var player = videojs('video', {
            autoplay: true,
            errorDisplay: false,
            liveui: true,
            liveTracker: {
                trackingThreshold: 5,
                liveTolerance: 15
            },
            html5:
                {
                    nativeAudioTracks: false,
                    nativeVideoTracks:false,
                    vhs:
                        {
                            overrideNative: true
                        }
                },
            plugins : {
                httpSourceSelector: {
                    default: 'auto'
                }
            }
        });

        qualityLevels = player.qualityLevels();
        httpSelector = player.httpSourceSelector();

        player.ready(function() {
               this.src({
                       src: streamURL,
                       type: 'application/x-mpegURL'
               });
       });
       player.play();
    </script>

    <script>
        function togglePlayPause() {
            if (player.paused()) {
                player.play();
            } else {
                player.pause();
            }
        }

        function toggleFullscreen() {
            if (player.isFullscreen()) {
                player.exitFullscreen();
            } else  {
                player.requestFullscreen();
            }
        }

        document.addEventListener("keydown", (e) => {
            if (!/^(?:input|textarea|select|button)$/i.test(e.target.tagName)) {
                switch (e.keyCode) {
                    case 37: // left arrow
                        player.currentTime(player.currentTime() - 5);
                        break;
                    case 39: // right arrow
                        player.currentTime(player.currentTime() + 5);
                        break;
                    case 38: // up arrow
                        e.preventDefault();
                        player.volume(player.volume() + 0.1);
                        break;
                    case 40: // down arrow
                        e.preventDefault();
                        player.volume(player.volume() - 0.1);
                        break;
                    case 0: case 32: // spacebar
                        e.preventDefault();
                        togglePlayPause();
                        break;
                    case 70: // F
                        toggleFullscreen();
                        break;
                    default:
                        return;
                }
            }
        })
    </script>

    <script>
        const video = document.querySelector('video');
        video.addEventListener('play', (event) => {
            var cookieVolume = getCookie('ospvolume');
            if (!(cookieVolume == null)) {
                player.volume(cookieVolume);
            }
        });

        video.addEventListener('volumechange', (event) => {
            var currentVolume = player.volume();
            setCookie('ospvolume', currentVolume, 365);
        });
    </script>


{% endblock %}