{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% import "themes/" + sysSettings.systemTheme + "/macros/core_ui.html" as core_ui with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/cards.html" as cards with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/panels.html" as panels with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/modals.html" as modals with context %}

{% block head %}
<title>{{sysSettings.siteName}} - {{ title }}</title>
<meta name="twitter:card" content="app" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{sysSettings.siteName}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/{{sysSettings.systemLogo}}" />
{% endblock %}

{% block body %}
    <div class="m-2">
        <h3>Hub Settings</h3>
        <div class="input-group mb-3">
            <label for="hubURL" class="form-label">Hub URL</label>
            <input type="text" id="hubURL" class="form-control boxShadow" value="{{ sysSettings.hubURL }}">
            <button class="btn btn-primary" type="button">Save</button>
        </div>
        <button class="btn btn-success boxShadow mx-2">Add to Hub</button>
        <button class="btn btn-danger boxShadow mx-2">Remove from Hub</button>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function updateHubURL() {
            socket.emit('updateHubURL', {hubURL: document.getElementById('hubURL').value});
        }
        function addServerToHub() {
            socket.emit('addServerToHub',{})
        }
        function removeServerFromHub() {
            socket.emit('removeServerFromHub', {})
        }
    </script>
{% endblock %}