{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% from "themes/" + sysSettings.systemTheme + "/macros/cards.html" import live_stream_card, video_card, topic_card with context %}
{% from "themes/" + sysSettings.systemTheme + "/macros/panels.html" import announcement_panel, top_live_streams_panel, current_live_streams_panel, trending_topics_panel, popular_videos_panel, featured_streamer_panel with context %}


{% block head %}
<title>{{sysSettings.siteName}}</title>
<meta name="twitter:card" content="app" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{sysSettings.siteName}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/{{sysSettings.systemLogo}}" />
{% endblock %}

{% block body %}
        <!-- Content Block Here-->

        <!--Announcement Macro-->
        {%  if sysSettings.serverMessage != "" and sysSettings.serverMessage != None %}
            {{ announcement_panel(sysSettings.serverMessageTitle, sysSettings.serverMessage) }}
        {%  endif %}

        <!--Featured Streamer Macro-->
        {# {{ featured_streamer_panel(data) }} #}

        <!--Top Live Streams Macro-->
        {{ top_live_streams_panel(streamList) }}

        <!--Currently Live Macro-->
        {{ current_live_streams_panel(streamList) }}

        <!--Trending Topics Macro-->
        {{ trending_topics_panel(uploadTopics) }}

        <!--Popular Videos Macro-->
        {{ popular_videos_panel(videoList) }}

{% endblock %}

{% block scripts %}

{% endblock %}

