{% import "themes/" + sysSettings.systemTheme + "/macros/core_ui.html" as coreui with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="manifest" href="/static/site.webmanifest">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/static/vendor/lazyload/js/lazyload.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/shared.css">
    <link rel="stylesheet" href="/static/css/Defaultv3/theme.css">
    <link rel="stylesheet" href="/static/css/Defaultv3/animation.css">

    {% block head %}
    {% endblock %}
</head>
<body>
    <!--Navbar-->
    <div class="nav">
        <div class="uiBar topNavbar">
            <span class="siteTitle textShadow">{{sysSettings.siteName}}</span>
            <div class="rightTopNavbar">
                <span class="searchBox">
                    <i class="bi bi-search"></i>
                    <input class="insetBoxShadow" type="text" placeholder="Search...">
                </span>
                <!--Begin Authenticated User Navbar Options-->
                {%  if current_user.is_authenticated %}
                <!--Authenticated User Dropdown Menu-->
                <span class="userImageBlock" id="userImageBlock">
                    <span class="boxShadow navbar-dropdown-content textShadow fade-in" id="userMenuDropdown">
                        <a href="/settings/channels"><span class="bi bi-tv-fill"></span> <b>My Channels</b></a>
                        <a href="/settings/api"><span class="bi bi-key-fill"></span> <b>API Keys</b></a>
                        <a href="/settings/user/subscriptions"><span class="bi bi-star-fill"></span> <b>Subscriptions</b></a>
                        <a href="/settings/user"><span class="bi bi-gear-fill"></span> <b>Settings</b></a>
                        <a href="/settings/admin"><span class="bi bi-server"></span> <b>Admin</b></a>
                        <a href="/logout"><span class="bi bi-box-arrow-right"></span> <b>Logout</b></a>
                    </span>
                    <a href="#" id="userDropDownButton" onclick="showUserNav();">
                        <img class="userImage boxShadow" src="/images/{{current_user.pictureLocation}}" alt="Username Picture" onerror="this.src='/static/img/user2.png';">
                        <i class="bi bi-caret-down-fill"></i>
                    </a>
                </span>
                <a href="#"><i class="textShadow bi bi-cloud-arrow-up-fill"></i></a>
                <a href="#"><i class="textShadow bi bi-envelope-fill"></i></a>
                <a href="#"><i class="textShadow bi bi-bell-fill"></i></a>
                {% else %}
                <a class="btn loginButton shadow textShadow" href="/login">Log In</a>
                <a class="btn loginButton shadow textShadow" href="/register">Register</a>
                {% endif %}
                <a href="#" onclick="toggleDarkMode();"><i id="darkModeIcon" class="textShadow bi bi-brightness-alt-low-fill"></i></a>
                <a href="#" data-bs-toggle="modal" data-bs-target="#aboutModal"><i class="textShadow bi bi-info-circle-fill"></i></a>
            </div>
        </div>
        <div class="uiBar sideNavbar">
            <a href="/"><img src="{{sysSettings.systemLogo}}" class="logo"></a>
            <div class="sideIcons">
                {{ coreui.ui_sidebar_item("Channels", "/channel", "bi bi-tv-fill") }}
                {{ coreui.ui_sidebar_item("Topics", "/topic", "bi bi-hash") }}
                {{ coreui.ui_sidebar_item("Streamers", "/streamer", "bi-people-fill") }}
                {{ coreui.ui_sidebar_item("Videos", "/video", "bi bi-camera-video-fill") }}
                {{ coreui.ui_sidebar_item("Clips", "/clip", "bi bi-scissors") }}
            </div>
        </div>
    </div>
    <div class="content">
      {% block body %}
      {% endblock %}
    </div>

    <!-- Global UI Modal Location Start-->
   {{ coreui.osp_systeminfo_modal(sysSettings.version) }}

    <!--Upload Video Modal-->
    {{ coreui.osp_videoupload_modal(uploadTopics, ownedChannels) }}

    {% block modals %}
    {% endblock %}

    <script>
        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
        function eraseCookie(name) {
            document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
    </script>

    <script>
        var darkModeActive = getCookie('ospDarkMode')

        if (darkModeActive === null) {
            setCookie('ospDarkMode', true);
        } else if (darkModeActive === false) {
            setLightMode();
        }

        // Toggles Theme Dark Mode On & Off
        function toggleDarkMode() {
            darkModeIcon = document.getElementById('darkModeIcon');
            darkModeActive = !darkModeActive;
            if (darkModeActive ===  true) {
                setDarkMode();
            } else {
                setLightMode();
            }
        }

        function setLightMode() {
            darkModeIcon.className = 'textShadow bi bi-brightness-alt-high';
            document.documentElement.setAttribute("data-theme", 'light');
            setCookie('ospDarkMode', false);
        }

        function setDarkMode() {
            darkModeIcon.className = 'textShadow bi bi-brightness-alt-low-fill';
            document.documentElement.setAttribute("data-theme", 'dark');
            setCookie('ospDarkMode', true);
        }

        // Opens the User Navigation Bar
        function showUserNav() {
            try {
                document.getElementById("userMenuDropdown").classList.toggle('show');
            } catch {
                console.log("Error: Unable to Detect User Menu");
            }
        }

        // Watches the Mouse Target Location Opens User Navigation Bar
        $(document).click(function(event) {
            var target = event.target.parentNode;
            if (target.id != 'userMenuDropdown' && target.id != 'userDropDownButton' && document.getElementById("userMenuDropdown").classList.contains('show')) {
                document.getElementById("userMenuDropdown").classList.toggle('show');
            }
        });
    </script>

    <script>
        var lazyLoadInstance = new LazyLoad({
          elements_selector: ".lazy"
        });
    </script>

    <script>
        $(document).ready(function()
          {
              $(".gif").hover(
                  function()
                  {
                    var src = $(this).attr("src");
                    $(this).attr("src", src.replace(/\.png$/i, ".gif"));
                  },
                  function()
                  {
                    var src = $(this).attr("src");
                    $(this).attr("src", src.replace(/\.gif$/i, ".png"));
                  });
        });
    </script>

    <script type="text/javascript">
      // Wait for document to load
      document.addEventListener("DOMContentLoaded", function(event) {
          document.documentElement.setAttribute("data-theme", "dark");
      });
    </script>

    {% block scripts %}
    {% endblock %}

    </body>
</html>