{% import "themes/" + sysSettings.systemTheme + "/macros/core_ui.html" as coreui with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/modals.html" as modals with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="manifest" href="/static/site.webmanifest">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/static/vendor/lazyload/js/lazyload.min.js"></script>
    <script src="/static/vendor/popper/js/popper.min.js"></script>
    <script src="/static/vendor/easymde/js/easymde.min.js"></script>
    <script type="text/javascript" src="/static/vendor/socketio/js/socket.io.js"></script>
    <script src="/static/vendor/dropzone/js/dropzone.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.css">
    <link rel="stylesheet" href="/static/vendor/easymde/css/easymde.min.css">
    <link rel="stylesheet" href="/static/vendor/dropzone/css/basic.min.css" />
    <link rel="stylesheet" href="/static/vendor/dropzone/css/dropzone.min.css" />
    <link rel="stylesheet" href="/static/css/shared.css">
    <link rel="stylesheet" href="/static/css/Defaultv3/theme.css">
    <link rel="stylesheet" href="/static/css/Defaultv3/animation.css">


    {% block head %}
    {% endblock %}
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img class="logo" src="{{sysSettings.systemLogo}}">
      <span class="navbar-title">{{sysSettings.siteName}}</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!--Search Bar-->
        <span class="searchBox">
            <i class="searchIcon bi bi-search"></i>
            <input id="systemSearchInput" class="insetBoxShadow" type="text" placeholder="Search...">
            <i id="searchClearIcon" class="searchClear fas fa-times" onclick="document.getElementById('systemSearchInput').value = '';this.style.display='none'"></i>
            <span class="searchResults" style="display:none;">
                <ul id="searchResultList" class="list-group list-group-flush">
                </ul>
            </span>
        </span>

        <!--Begin Authenticated User Navbar Options-->
        {% if current_user.is_authenticated %}
        <!--Authenticated User Dropdown Menu-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="userImage boxShadow" src="/images/{{current_user.pictureLocation}}" alt="Username Picture" onerror="this.src='/static/img/user2.png';">
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if current_user.has_role('Streamer') %}
                <li><a href="/settings/channels" class="dropdown-item"><span class="bi bi-tv-fill"></span> <b>My Channels</b></a></li>
              {% endif %}
              {% if current_user.has_role('Streamer') or current_user.has_role('Admin') %}
                <li><a href="/settings/api" class="dropdown-item"><span class="bi bi-key-fill"></span> <b>API Keys</b></a></li>
              {% endif %}
                <li><a href="/settings/user/subscriptions" class="dropdown-item"><span class="bi bi-star-fill"></span> <b>Subscriptions</b></a></li>
                <li><a href="/settings/user" class="dropdown-item"><span class="bi bi-gear-fill"></span> <b>Settings</b></a></li>
              {% if current_user.has_role('Admin') %}
                <li><a href="/settings/admin" class="dropdown-item"><span class="bi bi-server"></span> <b>Admin</b></a></li>
              {% endif %}
                <li><a href="/logout" class="dropdown-item"><span class="bi bi-box-arrow-right"></span> <b>Logout</b></a></li>
              </ul>
            </li>
        {% endif %}

        {% if sysSettings.allowUploads == True %}
            {% if current_user.has_role('Uploader') %}
                <li class="nav-item">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#uploadModal"><i class="textShadow bi bi-cloud-arrow-up-fill"></i></a>
                </li>
            {% endif %}
        {% endif %}

        <li class="nav-item">
            <a href="/messages"><i class="textShadow bi bi-envelope-fill bs-icon"></i>
              {% if messageCount > 0 %}
                  <span class="messagesIndicator" id="MessagesCountNav">{% if messageCount < 10 %}{{messageCount}}{% else %}9+{% endif %}</span>
              {% endif %}
            </a>
        </li>

        <li class="nav-item">
            <a href="/notifications">
              <i class="textShadow bi bi-bell-fill bs-icon"></i>
              {% if notifications | count > 0 %}
                  <span class="messagesIndicator" id="MessagesCountNav">{% if notifications | count < 10 %}{{ notifications | count }}{% else %}9+{% endif %}</span>
              {% endif %}
            </a>
        </li>

        <li class="nav-item">
          <a class="btn loginButton shadow textShadow" href="/login">Log In</a>
        </li>

        <li class="nav-item">
          <a href="#" onclick="toggleDarkMode();"><i id="darkModeIcon" class="textShadow bi bi-brightness-alt-low bs-icon"></i></a>
        </li>

        <li class="nav-item">
          <a href="#" data-bs-toggle="modal" data-bs-target="#aboutModal"><i class="textShadow bi bi-info-circle-fill bs-icon"></i></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="uiBar sideNavbar">
    <div class="sideIcons">
        {{ coreui.ui_sidebar_item("Channels", "/channel", "bi bi-tv-fill") }}
        {{ coreui.ui_sidebar_item("Topics", "/topic", "bi bi-hash") }}
        {{ coreui.ui_sidebar_item("Streamers", "/streamer", "bi-people-fill") }}
        <!--{{ coreui.ui_sidebar_item("Videos", "/video", "bi bi-camera-video-fill") }}-->
        <!--{{ coreui.ui_sidebar_item("Clips", "/clip", "bi bi-scissors") }}-->
    </div>
</div>

    {{ coreui.toast_box(messages) }}

    <div class="content">
      {% block body %}
      {% endblock %}
    </div>

    <!-- Global UI Modal Location Start-->
    {{ modals.osp_systeminfo_modal(sysSettings.version) }}

    <!--Upload Video Modal-->
    {{ modals.osp_videoupload_modal(uploadTopics, ownedChannels) }}

    {% block modals %}
    {% endblock %}

    <script>
        var maxVideoUploadFileSize = 4096; // In Megabytes
        var maxThumbnailUploadFileSize = 8; // In Megabytes

        {% if current_user.is_authenticated %}
        var notificationCount = {{ notifications | count }};
        {% endif %}
    </script>

    <script>
        // Establish SocketIO Connection
        var conn_options = {
          'sync disconnect on unload': true
        };
        var socket = io();
    </script>

    <script type="text/javascript" src="/static/js/core.js"></script>
    <script type="text/javascript" src="/static/js/ui.js"></script>
    <script type="text/javascript" src="/static/js/osp-uploads.js"></script>

    {% block scripts %}
    {% endblock %}

    </body>
</html>