{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% import "themes/" + sysSettings.systemTheme + "/macros/core_ui.html" as core_ui with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/cards.html" as cards with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/panels.html" as panels with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/modals.html" as modals with context %}

{% block head %}
<title>{{sysSettings.siteName}} - Notifications</title>
{% endblock %}

{% block body %}
        {{ panels.notificaitons_panel(notificationList) }}
{% endblock %}

{% block scripts %}
<script>
    var emptyNotificationList = document.getElementById('notificationList-empty');
</script>
<script type="text/javascript" src="/static/js/notifications.js"></script>
{% endblock %}