{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}
{% import "themes/" + sysSettings.systemTheme + "/macros/core_ui.html" as core_ui with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/cards.html" as cards with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/panels.html" as panels with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/modals.html" as modals with context %}

<!--Start Header Block-->
{% block head %}
<title>{{sysSettings.siteName}} - User Channels Page</title>

<script type="text/javascript" src="/static/vendor/chartjs/js/Chart.bundle.min.js"></script>
<script type="text/javascript" src="/static/vendor/socketio/js/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">
<link rel="stylesheet" href="/static/vendor/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/vendor/codemirror/addon/lint/lint.css">
<link rel="stylesheet" href="/static/vendor/codemirror/theme/material-darker.css">
{% endblock %}

<!--Start Body Block-->
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
            <div class="row my-2">
                <span class="float-right"><button class="btn btn-success shadow" data-bs-toggle="modal" data-bs-target="#newChannelModal"><i class="fas fa-plus"></i> Create Channel</button></span>
            </div>
        {% for channel in channels %}
            {{ panels.user_channel_settings(channel) }}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    {{ modals.new_sticker("/settings/channels") }}
    {{ modals.delete_sticker() }}
    {{ modals.confirm_delete_channel() }}
    {{ modals.delete_webhook() }}
    {{ modals.new_webhook() }}
    {{ modals.upload_video_thumbnail() }}
    {{ modals.move_video_socketio(current_user) }}
    {{ modals.new_restream() }}
    {{ modals.new_channel(sysSettings, topics) }}
    {{ modals.delete_video_socketio() }}
    {{ modals.create_clip_socketio() }}
    {{ modals.edit_video_metadata_socketio(topics) }}
    {{ modals.new_thumbnail_userchannel() }}
    {{ modals.video_share_userchannels() }}
    {{ modals.edit_clip_metadata_userchannels() }}
    {{ modals.delete_clip_userchannel() }}
    {{ modals.new_clip_thumbnail_userchannel() }}
    {{ modals.new_inviteCode() }}
    {{ modals.new_inviteUser() }}
    {{ modals.new_panel('/settings/channels') }}
    {{ modals.delete_panel('channel') }}
{% endblock %}

{% block scripts %}
<script>
    var siteProtocol = "{{sysSettings.siteProtocol}}";
    var siteAddress = "{{sysSettings.siteAddress}}";
    var maxClipLength = {{sysSettings.maxClipLength}};
</script>
<script src="/static/vendor/videojs/js/video.js"></script>
<script src="/static/vendor/dropzone/js/dropzone.min.js"></script>
<script src="/static/vendor/codemirror/lib/codemirror.js"></script>
<script src="/static/vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="/static/vendor/codemirror/addon/edit/matchbrackets.js"></script>
<script src="/static/vendor/codemirror/addon/display/autorefresh.js"></script>
<script src="/static/vendor/JSHint/jshint.js"></script>
<script src="/static/vendor/codemirror/addon/lint/jsonlint.js"></script>
<script src="/static/vendor/codemirror/addon/lint/lint.js"></script>
<script src="/static/vendor/codemirror/addon/lint/json-lint.js"></script>
<script src="/static/js/userchannelsv2.js"></script>
<script src="/static/js/osp-uploads.js"></script>

<script>

</script>


<script>
    {% for channel in channels %}
    var easymde{{channel.id}} = new EasyMDE({ autoDownloadFontAwesome: false, spellChecker: false, element: document.getElementById("description-{{channel.id}}") });
    {% endfor %}

    {% for channel in channels %}
      document.getElementById('generateGUID-{{channel.id}}').addEventListener('click', function() {
      document.getElementById('streamKey-{{channel.id}}').value = guid();
    })
    {% endfor %}
</script>

{% for chan in viewStats %}
<script>
    var ctx = document.getElementById('viewershipChart-{{chan}}').getContext('2d');
    ctx.canvas.width = 1024;
    ctx.canvas.height = 380;
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {

            datasets: [{
                label: "Live Viewers",
                fill: true,
                borderColor: 'rgb(255, 0, 0)',
                backgroundColor: 'rgb(255, 0, 0)',
                spanGaps: true,
                lineTension: 0,
                data:[
                    {% for entry in viewStats[chan]['live'] %}
                        {x:'{{entry['t']}}',y:{{entry['y']}}},
                    {% endfor %}
                ]},
                {
                label: "Video Viewers",
                fill: true,
                borderColor: 'rgb(0, 0, 255)',
                backgroundColor: 'rgb(0, 0, 255)',
                spanGaps: true,
                lineTension: 0,
                data:[
                    {% for entry in viewStats[chan]['recorded'] %}
                        {x:'{{entry['t']}}',y:{{entry['y']}}},
                    {% endfor %}
                ]
            }]
        },

        // Configuration options go here
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD',
                        unit: 'day'
                    }
                }],
            }
        }
    });
</script>
{% endfor %}

{% endblock %}
