{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% import "themes/" + sysSettings.systemTheme + "/macros/core_ui.html" as core_ui with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/cards.html" as cards with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/panels.html" as panels with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/modals.html" as modals with context %}


{% block head %}
<title>{{sysSettings.siteName}} - {{ title }}</title>
<meta name="twitter:card" content="app" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{sysSettings.siteName}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/{{sysSettings.systemLogo}}" />
<link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">

{% endblock %}

{% block body %}
    <div class="row gx-0">
        <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="video-panel">
                {{ panels.video_player(streamURL, video.thumbnailLocation) }}
                {{ panels.video_metadata_panel(video) }}
            </div>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-12">
            {{ panels.comments_panel() }}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ modals.add_video_comment(video.id) }}
{% endblock %}

{% block scripts %}
    <script src="/static/vendor/videojs/js/video.js"></script>
    <script>
        var player = videojs('video', {
                autoplay: true,
                errorDisplay: false,
                liveui: false,
                liveTracker:true,
                html5:
                    {
                        nativeAudioTracks: false,
                        nativeVideoTracks:false,
                        hls:
                            {
                                overrideNative: true
                            }
                    }
            });
    </script>
{% endblock %}