{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% import "themes/" + sysSettings.systemTheme + "/macros/core_ui.html" as core_ui with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/cards.html" as cards with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/panels.html" as panels with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/modals.html" as modals with context %}

<!--Start Header Block-->
{% block head %}
<title>{{sysSettings.siteName}} - {{ title }}</title>
<meta name="twitter:card" content="app" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{sysSettings.siteName}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/{{sysSettings.systemLogo}}" />
<script src="https://unpkg.com/@yaireo/tagify"></script>
<script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">
{% endblock %}

<!--Start Body Block-->
{% block body %}
    <div class="row gx-0">
        <div id="mainContentPanel" class="col-xl-8 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="video-panel">
                {{ panels.video_player(streamURL, video.thumbnailLocation) }}
                <div class="row gx-0 boxShadow">
                    <div class="col-xl-6 col-lg-12">
                        {{ panels.video_metadata_panel(video) }}
                    </div>
                    <div class="col-xl-6 col-lg-12 box1-fill">
                        <div class="row gx-0">
                            <div class="col">
                                {{ panels.video_control_panel(streamURL, video, current_user) }}
                            </div>
                        </div>
                        <div class="row gx-0">
                            <div class="col">
                                {{ panels.video_views_panel(video) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ panels.comments_panel(video.id | get_videoComments, video.allowComments, sysSettings.allowComments) }}
            </div>
        </div>
        <div id="sidePanel" class="col">
            <div class="side-video-panel">
                <div class="side-video-panel-container">
                    {{ panels.videos_panel(randomRecorded, title="Other Videos", heightOverride=True, justification="center", shadow=False) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!--Start Modal Block-->
{% block modals %}
    {{ modals.add_video_comment(video.id) }}
    {{ modals.video_share(video, request, startTime) }}
    {{ modals.new_thumbnail_modal() }}
    {{ modals.move_video(video, ownedChannels) }}
    {{ modals.create_clip(video, streamURL) }}
    {{ modals.edit_video_metadata(video, topics) }}
    {{ modals.delete_video(video) }}
{% endblock %}

<!--Start Script Block-->
{% block scripts %}
    <script>
    var videoID = {{ video.id }};
    var maxClipLength = {{ sysSettings.maxClipLength }}
    </script>

    <script src="/static/vendor/videojs/js/video.js"></script>
    <script type="text/javascript" src="/static/js/videoplayer.js"></script>
    <script>
        var player = videojs('video', {
                autoplay: true,
                errorDisplay: false,
                liveui: false,
                liveTracker:true,
                html5:
                    {
                        nativeAudioTracks: false,
                        nativeVideoTracks:false,
                        hls:
                            {
                                overrideNative: true
                            }
                    }
            });
        {% if video.owningUser == current_user.id %}
        var clipplayer = videojs('videoClip', { autoplay: false });
        {% endif %}
    </script>
{% endblock %}