  <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
  <script src="/static/vendor/popper/js/popper.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/vendor/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
  <script src="/static/vendor/dropzone/js/dropzone.min.js"></script>
  <script src="/static/vendor/socketio/js/socket.io.js"></script>
  <script src="/static/vendor/lazyload/js/lazyload.min.js"></script>
  <script src="/static/vendor/simplemde/js/simplemde.min.js"></script>