  <link rel=stylesheet type=text/css href="/static/css/shared.css">
  <link rel=stylesheet type=text/css href="/static/css/slider.css">
  <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.css">
  <link href="/static/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/vendor/dropzone/css/basic.min.css" />
  <link rel="stylesheet" href="/static/vendor/dropzone/css/dropzone.min.css" />
  <link rel="stylesheet" href="/static/vendor/simplemde/css/simplemde.min.css">