[Unit]
Description=Gunicorn instance to serve OSP Workers on port %i
After=network.target
PartOf=osp.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/osp/venv
Environment="PATH=/opt/osp/venv/bin"
ExecStart=/opt/osp/venv/bin/gunicorn app:app -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker -w 1 --bind 0.0.0.0:%i --reload -t 0 --graceful-timeout 120 --access-logfile /opt/osp/logs/osp-access.log --error-logfile /opt/osp/logs/osp-error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
