{% macro nav_item_entry(item, active) %}
<li class="nav-item" role="presentation">
    <button class="nav-link btn btn-link textShadow {% if active == True %}active{% endif %}" id="{{ item | lower }}-tab" data-bs-toggle="tab" data-bs-target="#{{ item | lower }}" type="button" role="tab" aria-controls="{{ item | lower }}" aria-selected="true"><b>{{ item }}</b></button>
</li>
{% endmacro %}

{% macro osp_info_box(version) %}
<div id="osp-version" class="info-panel-box boxShadow osp-info-box box1-fill">
    <div class="row">
        <div class="col-2">
            <img class="osplogo" src="/static/img/logo.png" alt="OSP Logo">
        </div>
        <div class="col-auto">
            <span class="osp-title-box">
                <span class="osp-title textShadow"><b>Open Streaming Platform</b></span><br>
                <span class="osp-version"><b>Version: </b>{{version}}</span>
            </span>
        </div>
    </div>
    <div class="osp-info">
        <a href="https://openstreamingplatform.com"><i class="bi bi-globe2"></i> https://openstreamingplatform.com</a><br>
        <a href="https://gitlab.com/osp-group/flask-nginx-rtmp-manager"><i class="bi bi-file-code"></i> https://gitlab.com/osp-group/flask-nginx-rtmp-manager</a>
    </div>
</div>
{% endmacro %}

{% macro metric_box(id, heading, metric, background_color_class) %}
    <div id="{{ id }}" class="info-panel-box boxShadow metricBox {{ background_color_class }}">
        <div class="info-panel-box-header-nofill textShadow"><b>{{ heading }}</b></div>
        <div id="{{ id }}-metric" class="info-panel-box-metric textShadow"><b>{{ metric }}</b></div>
    </div>
{% endmacro %}

{% macro system_status_box() %}
<div class="info-panel-box system-status-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>System Status</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div id="system-status-ospcore" class="system-status-item"><b>OSP-Core</b></div>
        <div id="system-status-osprtmp" class="system-status-item"><b>OSP-RTMP</b></div>
        <div id="system-status-ospproxy" class="system-status-item"><b>OSP-Proxy</b></div>
        <div id="system-status-ospedge" class="system-status-item"><b>OSP-Edge</b></div>
        <div id="system-status-ejabberdchat" class="system-status-item"><b>Ejabberd-Chat</b></div>
        <div id="system-status-ejabberdxmlrpc" class="system-status-item"><b>Ejabberd-XMLRPC</b></div>
        <div id="system-status-database" class="system-status-item"><b>Database</b></div>
        <div id="system-status-redis" class="system-status-item"><b>Redis</b></div>
    </div>
</div>
{% endmacro %}

{% macro channels_currently_live_box(streamList) %}
<div class="info-panel-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Channels Currently Live</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-channelscurrentlylive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Channel Name</th>
                        <th>Owner</th>
                        <th>Topic</th>
                        <th>Live Viewers</th>
                        <th>Time Live</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stream in streamList %}
                        <tr>
                            <td>{{ stream.linkedChannel | get_channelName }}</td>
                            <td>{{ stream.linkedChannel | channeltoOwnerID | get_userName }}</td>
                            <td>{{ stream.topic | get_topicName }}</td>
                            <td>{{ stream.currentViewers }}</td>
                            <td>{{ stream.startTimestamp }}</td> <!--TODO TimeDelta and Update-->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro system_log_box(logsList) %}
<div class="info-panel-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Recent System Logs</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-recentsystemlogs">
            <table id="logTable" class="table table-borderless table-sm">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Type</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logsList %}
                        <tr>
                            <td>{{log.timestamp|normalize_date}}</td>
                            <td><span class="badge bg-secondary textShadow">{{log.type|get_logType}}</span></td>
                            <td>{{log.message}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro chart_box(chartID, width, height) %}
<div class="info-panel-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Viewer Statistics</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div id="admin-chart-container-{{ chartID }}" class="admin-chart">
            <div id="statChart">
                <canvas id="{{ chartID }}" style="width:{{ width }};height:{{ height }};"></canvas>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro settings_panel(sysSettings) %}
<div class="info-panel-box system-settings-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Settings</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="row my-3">
            <div class="col-3">
                <label for="settings-servername-input" class="form-label">Server Name</label>
                <input type="text" id="settings-servername-input" class="form-control" value="{{sysSettings.siteName}}">
            </div>
            <div class="col">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="maintmodetoggle">Maintenance Mode</label>
                    <input class="form-check-input" type="checkbox" id="maintmodetoggle" {% if sysSettings.maintenanceMode == True %} checked {% endif %}>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-1">
                <label for="settings-protocol-input" class="form-label">Protocol</label>
                <select id="settings-protocol-input" class="form-select">
                  <option value="http://" {% if sysSettings.siteProtocol == 'http://' %} selected {% endif %}>http://</option>
                  <option value="https://" {% if sysSettings.siteProtocol == 'https://' %} selected {% endif %}>https://</option>
                </select>
            </div>
            <div class="col-3">
                <label for="settings-hostname-input" class="form-label">Hostname / IP Address</label>
                <input type="text" id="settings-hostname-input" value="{{ sysSettings.siteAddress }}" class="form-control" required>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-3">
                <label for="settings-proxyhostname-input" class="form-label">OSP-Proxy Hostname</label>
                <input type="text" id="settings-proxyhostname-input" class="form-control" value="{% if sysSettings.proxyFQDN != None %}{{sysSettings.proxyFQDN}}{% endif %}">
                <div id="proxyhostnameHelp" class="form-text">Leave Blank if no OSP-Proxy Server is Used</div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro appearance_panel(sysSettings) %}
<div class="info-panel-box system-appearance-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Appearance</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row my-3">
                    <div class="col-3">
                          <label for="systemLogo" class="form-label">Logo</label><br>
                          <img id="systemLogo" src="{{sysSettings.systemLogo}}" width="64" height="64">
                          <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-3">
                        <label for="theme-input">Theme</label>
                        <select class="form-select" id="theme-input" name="theme">
                            {% for theme in themeList %}
                            <option value="{{theme}}" {% if sysSettings.systemTheme == theme %} selected {% endif %}>{{theme}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row my-3">
                    <div class="col-4">
                        <label for="settings-announcementtitle-input" class="form-label">Server Announcement Header Title</label>
                        <input type="text" id="settings-announcementtitle-input" value="{{ sysSettings.serverMessageTitle }}" class="form-control">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5">
                        <label for="settings-announcementcontent-input" class="form-label">Announcement Message</label>
                        <textarea class="form-control" name="serverMessage" id="settings-announcementcontent-input" maxlength="2048">{{sysSettings.serverMessage}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro email_panel(sysSettings) %}
<div class="info-panel-box system-appearance-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Appearance</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="row">
            <div class="col-12">
               <div class="row my-3">
                    <div class="col-3">
                        <label for="settings-email-sendas-input" class="form-label">Send As</label>
                        <input type="text" id="settings-email-sendas-input" class="form-control" value="{{sysSettings.smtpSendAs}}">
                    </div>
                </div>
               <div class="row my-3">
                    <div class="col-3">
                        <label for="settings-email-smtpserver-input" class="form-label">SMTP Server Address</label>
                        <input type="text" id="settings-email-smtpserver-input" class="form-control" value="{{sysSettings.smtpAddress}}">
                    </div>
                    <div class="col-1">
                        <label for="settings-email-smtpport-input" class="form-label">SMTP Server Address</label>
                        <input type="text" id="settings-email-smtpport-input" class="form-control" value="{{sysSettings.smtpPort}}">
                    </div>
                    <div class="col-2">
                        <label for="settings-email-smtpencryption-input" class="form-label">Protocol</label>
                        <select id="settings-email-smtpencryption-input" class="form-select">
                          <option value="none" {% if sysSettings.smtpSSL == False and sysSettings.smtpTLS == False %} selected {% endif %}>None</option>
                          <option value="ssl" {% if sysSettings.smtpSSL == True %} selected {% endif %}>SSL</option>
                          <option value="tls" {% if sysSettings.smtpTLS == True %} selected {% endif %}>TLS</option>
                        </select>
                    </div>
               </div>
               <div class="row my-3">
                    <div class="col-3">
                        <label for="settings-email-smtpuser-input" class="form-label">Username</label>
                        <input type="text" id="settings-email-smtpuser-input" class="form-control" value="{{sysSettings.smtpUsername}}">
                    </div>
               </div>
               <div class="row my-3">
                    <div class="col-3">
                        <label for="settings-email-smtppassword-input" class="form-label">Password</label>
                        <input type="password" id="settings-email-smtppassword-input" class="form-control" value="{{sysSettings.smtpPassword}}">
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro channel_settings_panel(sysSettings) %}
<div class="info-panel-box system-appearance-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Appearance</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableRecordingToggle">Enable Recordings</label>
                            <input class="form-check-input" type="checkbox" id="enableRecordingToggle" {% if sysSettings.allowRecording == True %} checked {% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableUploadsToggle">Enable Uploads</label>
                            <input class="form-check-input" type="checkbox" id="enableUploadsToggle" {% if sysSettings.allowUploads == True %} checked {% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableCommentsToggle">Enable Video/Clip Comments</label>
                            <input class="form-check-input" type="checkbox" id="enableCommentsToggle" {% if sysSettings.allowComments == True %} checked {% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableChannelProtection">Enable Channel Protection System</label>
                            <input class="form-check-input" type="checkbox" id="enableChannelProtection" {% if sysSettings.protectionEnabled == True %} checked {% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableRtmpRestreams">Enable RTMP Restreams</label>
                            <input class="form-check-input" type="checkbox" id="enableRtmpRestreams"> <!--TODO Create DB Object-->
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableAdaptiveToggle">Enable Adaptive Streams</label>
                            <input class="form-check-input" type="checkbox" id="enableAdaptiveToggle"{% if sysSettings.adaptiveStreaming == True %} checked {% endif %}>
                            <small> (Can Cause Heavy CPU Load)</small>
                        </div>
                    </div>
               </div>
                <div class="row">
                    <div class="col-3">
                        <label for="maximumBitrateRtmp" class="form-label">Maximum Bitrate for RTMP Restream (Kb/s)</label>
                        <input type="number" id="maximumBitrateRtmp" class="form-control" value="{{sysSettings.restreamMaxBitrate}}">
                    </div>
               </div>
               <div class="row mt-2">
                    <div class="col-3">
                        <label for="maxClipLength" class="form-label">Maximum Clip Length</label>
                        <input type="range" class="form-range" min="0" max="301" id="maxClipLength" value="{{ sysSettings.maxClipLength }}">
                        <h3><span id="maxClipLengthLabel" class="rangeSliderValue ml-1 badge badge-secondary" style="width:100px;">{{sysSettings.maxClipLength|format_clipLength}}</span></h3>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}