{% import "themes/" + sysSettings.systemTheme + "/macros/core_ui.html" as core_ui with context %}

{% macro live_stream_card(stream) %}
<li class="streamCard item">
    <a href="/view/{{ stream.linkedChannel | get_channelLocationFromID }}/">
        <div class="streamCard-badges">
            {{ core_ui.live_badge() }}
            {{ core_ui.live_views_badge(stream.currentViewers) }}
        </div>
        <img class="streamCard-thumb boxShadow gif lazy" {% if stream.linkedChannel | get_channelProtected and sysSettings.protectionEnabled %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg" onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="/stream-thumb/{{ stream.linkedChannel | get_channelLocationFromID }}.png">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-2">
                <img class="mt-3 userImage boxShadow img-fluid rounded-circle" src="/images/{{ stream.linkedChannel | channeltoOwnerID | get_pictureLocation }}" onerror="this.src='/static/img/user2.png';">
              </div>
              <div class="col-10">
                <div class="card-body">
                  <p class="card-text textShadow">
                    <b>{{ stream.streamName | limit_title }}</b><br>
                    {{ stream.linkedChannel | channeltoOwnerID | get_userName }}<br>
                    {{ stream.topic | get_topicName }}
                  </p>
                </div>
              </div>
            </div>
        </div>
    </a>
</li>
{% endmacro %}

{% macro video_card(video) %}
<li class="streamCard item">
  <a href="/play/{{video.id}}">
    <div class="streamCard-thumbnail-container zoom">
        <div class="streamCard-badges">
            {{ core_ui.views_badge(video.views) }}
        </div>
        <img class="streamCard-thumb boxShadow lazy {% if video.gifLocation != None %}gif{% endif %}" src="/static/img/video-placeholder.jpg" data-src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-2">
            <img class="mt-3 userImage boxShadow img-fluid rounded-circle" src="/images/{{video.owningUser | get_pictureLocation}}" onerror="this.src='/static/img/user2.png';" alt="Username Picture">
          </div>
          <div class="col-10">
            <div class="card-body">
              <p class="card-text textShadow">
                <b>{{ video.channelName | limit_title }}</b><br>
                   {{ video.owningUser | get_userName }}<br>
                   {{ video.topic | get_topicName }}
              </p>
            </div>
          </div>
        </div>
    </div>
  </a>
</li>
{% endmacro %}

{% macro clip_card(clip) %}
<li class="streamCard item">
  <a href="/clip/{{clip.id}}">
    <div class="streamCard-thumbnail-container zoom">
        <div class="streamCard-badges">
            {{ core_ui.views_badge(clip.views) }}
        </div>
        <img class="streamCard-thumb boxShadow lazy {% if clip.gifLocation != None %}gif{% endif %}" src="/static/img/video-placeholder.jpg" data-src="/videos/{{clip.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-2">
            <img class="mt-3 userImage boxShadow img-fluid rounded-circle" src="/images/{{ clip.parentVideo | videotoChannelID | channeltoOwnerID  | get_pictureLocation}}" onerror="this.src='/static/img/user2.png';" alt="Username Picture">
          </div>
          <div class="col-10">
            <div class="card-body">
              <p class="card-text textShadow">
                <b>{{ clip.clipName | limit_title }}</b><br>
                   {{ clip.parentVideo | videotoChannelID | channeltoOwnerID | get_userName }}<br>
                   {{ clip.parentVideo | get_videoTopic | get_topicName }}
              </p>
            </div>
          </div>
        </div>
    </div>
  </a>
</li>
{% endmacro %}

{% macro topic_card(topic) %}
    <a href="/topic/{{topic.id}}/">
        <li class="topicCard item">
          <div class="topicImg"><img class="lazy zoom" src="/images/{{topic.iconClass}}" onerror="this.src='/static/img/video-placeholder.jpg';" alt="{{ topic.name }}"></div>
          <div class="topicName"><b>{{ topic.name }}</b></div>
        </li>
    </a>
{% endmacro %}

{% macro streamer_card(streamerInfo) %}
    <a href="/streamer/{{ streamerInfo.id }}">
        <li class="streamer-avatar">
          <img class="shadow zoom" src="/images/{{ streamerInfo.pictureLocation }}" onerror="this.src='/static/img/user2.png';">
          <div class="username"><b>{{ streamerInfo.username }}</b></div>
        </li>
    </a>
{% endmacro %}

{% macro channel_card(channelData) %}
<li class="channelCard item">
    <a href="/channel/{{channelData.id}}/">
    <div class="zoom">
        <div class="channelCard-badges">
        {% if channelData.id | get_channelLiveStatus %}
            {{ core_ui.live_badge() }}
        {% endif %}
        {% if channelData.protected and sysSettings.protectionEnabled %}
            {{ core_ui.protected_badge() }}
        {% endif %}
        {{ core_ui.views_badge(channelData.currentViewers) }}
        </div>
        <div class="channelImg"><img class="lazy" src="/images/{{ channelData.imageLocation }}" onerror="this.src='/static/img/video-placeholder.jpg';" alt="{{ channelData.name }}"></div>
    </div>
    <div class="channelMetadata mt-2">
        <div class="row">
            <div class="col-3">
                <img class="mt-2 userImage boxShadow img-fluid rounded-circle" src="/images/{{ channelData.owningUser | get_pictureLocation }}" alt="{{ channelData.channelName }} Picture" onerror="this.src='/static/img/user2.png';">
            </div>
            <div class="col-9">
                <div class="channelName"><b>{{ channelData.channelName }}</b></div>
                <div class="channelOwner">
                  <b>{{ channelData.owningUser | get_userName }}</b>
                </div>
            </div>
        </div>
    </div>
    </a>
</li>
{% endmacro %}

{% macro comment_card(comment) %}
<div class="comment">
  <div class="row gx-0">
    <div class="comment-avatar col-1 mt-2">
        <img class="avatar-md mx-2 boxShadow" src="/images/{{ comment.userID | get_pictureLocation }}" onerror="this.src='/static/img/user2.png';">
    </div>
    <div class="col-11 mt-2">
      <div class="comment-header">
        <span><b><a href="/profile/{{ comment.userID | get_userName }}">{{ comment.userID | get_userName }}</a></b></span>
        <span class="float-end me-2"><i class="bi bi-calendar-date"></i> {{ comment.timestamp | normalize_date }}</span><br>
        <span class=mt-1>{{ comment.comment | markdown }}</span>
      </div>
    </div>
  </div>
</div>
{% endmacro %}