{% import "themes/" + sysSettings.systemTheme + "/macros/cards.html" as cards with context %}
{% import "themes/" + sysSettings.systemTheme + "/macros/core_ui.html" as core_ui with context %}

{% macro announcement_panel(title, message) %}
<div class="announcement-container boxShadow">
    <div class="float-end">
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <h3 class="textShadow"><b>{{ title }}</b></h3>
    <p>{{ message }}</p>
</div>
{% endmacro %}

{% macro live_streams_panel(streamList, title="Currently Live") %}
<div class="live-container boxShadow">
  <h3 class="textShadow"><b>{{ title }}</b></h3>
  <ul id="topStreamList" class="mb-2 itemList d-flex flex-wrap justify-content-start" style="width:100%">
      {% for stream in streamList %}
        {{ cards.live_stream_card(stream) }}
      {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro topics_panel(topicList, title="Topics" ) %}
<div class="topics-container insetBoxShadow">
  <h3 class="textShadow"><b>{{ title }}</b></h3>
  <ul id="topicList" class="itemList d-flex flex-wrap justify-content-start" style="width:100%">
  {% for topic in topicList %}
    {{ cards.topic_card(topic) }}
  {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro videos_panel(videoList, title="Videos") %}
<div class="videos-container boxShadow">
  <h3 class="textShadow"><b>{{ title }}</b></h3>
  <ul id="VideoList" class="mb-2 itemList d-flex flex-wrap justify-content-start" style="width:100%">
      {% for video in videoList %}
          {{ cards.video_card(video) }}
      {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro featured_streamer_panel(data) %}
<div class="featured-stream-container insetBoxShadow">
  <h1 class="textShadow"><b>Featured Stream</b></h1>
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <img class="w-100 boxShadow" src="/static/img/sample/fakelive.gif">
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="stream-metadata ms-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-2">
              <img class="mt-3 userImage boxShadow img-fluid rounded-circle" src="https://i.pravatar.cc/62?u=theuser2pravatar.com" alt="Username Picture">
            </div>
            <div class="col-10">
              <div class="card-body">
                <p class="card-text textShadow">
                  <b>Stream Name</b><br>
                  Streamer Username<br>
                  Stream Topic
                </p>
                <span class="live-badge boxShadow textShadow"><b>Live</b></span>
                <span class="live-viewers-badge boxShadow textShadow ms-1"><i class="bi bi-eye-fill pe-1"></i> <b class="justify-content-end">40201</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="stream-metadata-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam nostrum deserunt beatae possimus autem aspernatur, temporibus dolore labore laudantium quaerat, ducimus neque fuga, repellat dolorem et earum corporis odit! Blanditiis.
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro user_bio_panel(userData) %}
<div class="streamer-info-container insetBoxShadow">
  <div class="row">
    <div class="col-auto">
      <img class="steamer-info-picture-img rounded-circle boxShadow" src="/images/{{userData.pictureLocation}}" alt="User Photo">
    </div>
    <div class="col">
      <div class="user-metadata align-top">
        <span class="fs-4 textShadow"><b>{{userData.username}}</b></span><br>
        <span class="socialIcons">
            <a href="#"><img class="socialIcon boxShadow" src="https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/facebook-512.png"></a>
            <a href="#"><img class="socialIcon boxShadow" src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png"></a>
            <a href="#"><img class="socialIcon boxShadow" src="https://cdn.fastly.picmonkey.com/content4/previews/social/social_53_550.png"></a>
            <a href="#"><img class="socialIcon boxShadow" src="https://icons-for-free.com/iconfiles/png/512/instagram+photos+round+icon+social+media+social+network+icon-1320190505735536578.png"></a>
        </span>
      </div>
    </div>
    {% if userData.biography != None and userData.biography != "" and userData.biography != "None" %}
    <p class="fs-5 mt-4 textShadow">{{userData.biography|markdown}}</p>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro channel_metadata_panel(channelData) %}
<div class="channel-info-container insetBoxShadow">
  <div class="row">
    <div class="col-auto">
      <img class="channel-info-picture-img boxShadow" src="/images/{{channelData.imageLocation}}" width="100%" onerror="this.src='/static/img/video-placeholder.jpg';">
    </div>
    <div class="col">
      <div class="channel-metadata align-top">
        <div class="fs-4 textShadow"><b>{{ channelData.channelName }}</b></div>
        <div class="textShadow"><a href="#"><b>{{ channelData.owningUser|get_userName }}</b></a></div>
        <div class="channelBadges">
          {% if channelData.id | get_channelLiveStatus %}
            {{ core_ui.live_badge() }}
          {% else %}
            {{ core_ui.offline_badge() }}
          {% endif %}
          {% if channelData.protected and sysSettings.protectionEnabled %}
            {{ core_ui.protected_badge() }}
          {% endif %}
        </div>
        <div class="channelButtons">
          <a href="/view/{{ channelData.channelLoc }}" class="btn btn-primary btn-sm boxShadow textShadow me-2"><b>View Live Channel</b></a>
          {% if current_user.is_authenticated %}
          <button type="button" class="btn btn-success btn-sm boxShadow textShadow"><b><i class="bi bi-star-fill"></i> Subscribe</b></button>
          {% endif %}
        </div>
      </div>
    </div>
    {% if channelData.description != None and channelData.description != "" and channelData.description != "None" %}
    <p class="fs-5 mt-4 textShadow">{{channelData.description|markdown}}</p>
    {% endif %}
  </div>
</div>
{% endmacro %}