{%  macro user_api_keys(apiKeyList) %}
<div class="info-panel-box system-channels-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>API Keys</b>
        <span class="ms-3">
            <button class="btn btn-success btn-sm boxShadow" title="Add API Key" type="button" data-bs-toggle="modal" data-bs-target="#createNewAPIKeyModal"><i class="bi bi-plus"></i> Create New Key</button>
        </span>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="settings-api-user">
            <table id="apiKeysTable" class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>API Key</th>
                        <th>Type</th>
                        <th>Created</th>
                        <th>Expires</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                  {% for apiKey in apiKeyList %}
                  <tr>
                    <td>{{ apiKey.description }}</td>
                    <td>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control disabled shadow" id="apikey-{{ apiKey.id }}" value="{{ apiKey.key }}">
                        <button class="btn btn-primary shadow" type="button" id="apiKey_copy-{{ apiKey.id }}" onclick="CopyAPI('apikey-{{apiKey.id}}')"><i class="fas fa-copy"></i></button>
                      </div>
                    </td>
                    <td>{{ apiKey.type | format_keyType }}</td>
                    <td>{{ apiKey.createdOn | normalize_date }}</td>
                    <td>
                        {% if apiKey.isValid() %}<i style="color:green;" class="fas fa-check"></i>
                        {% else %} <i style="color:red;" class="fas fa-times"></i>
                        {% endif %}
                        <span class="ms-2">{{apiKey.expiration|normalize_date}}</span>
                    </td>
                    <td><button type="button" class="btn btn-danger shadow" onclick="deleteKey('{{ apiKey.id }}')"><i class="bi bi-trash-fill"></i></button></td>
                  </tr>
                  {% endfor %}
                </tbody>
          </table>
        </div>
    </div>
</div>
{%  endmacro %}
