[Unit]
Description=OSP Celery Beat Service
After=network.target
After=redis.service
Requires=osp-celery.service

[Service]
User=www-data
Group=www-data
EnvironmentFile=/etc/default/celery
Environment="PATH=/opt/osp/venv/bin"
WorkingDirectory=/opt/osp
ExecStart=/opt/osp/venv/bin/celery -A $CELERY_APP beat
Restart=always

[Install]
WantedBy=multi-user.target
