[Unit]
Description=OSP Celery Flower Service
After=network.target
After=redis.service
Requires=osp-celery.service

[Service]
User=www-data
Group=www-data
EnvironmentFile=/etc/default/celery-flower
WorkingDirectory=/opt/osp
ExecStart=/bin/sh -c '${CELERY_BIN} -A $CELERY_APP flower --basic_auth=${CELERY_FLOWER_USER}:${CELERY_FLOWER_PASSWORD} --loglevel=info --port=5572'
Restart=always

[Install]
WantedBy=multi-user.target
