[Unit]
Description=OSP Celery Service
After=network.target
After=redis.service
Requires=redis.service

[Service]
User=www-data
Group=www-data
EnvironmentFile=/etc/default/celery
Environment="PATH=/opt/osp/venv/bin"
WorkingDirectory=/opt/osp
ExecStart=/opt/osp/venv/bin/celery -A $CELERY_APP worker --logfile=${CELERYD_LOG_FILE} --loglevel="${CELERYD_LOG_LEVEL}" $CELERYD_OPTS
Restart=always

[Install]
WantedBy=multi-user.target
