.chatloader {
    display: none;
    padding: 30px;
}

.chatloader .chatloader-view {
    margin: 0 auto;
    max-width: 400px;
    text-align:center;
}

.chatPanel {
  display: none;
  flex-flow: column;
  height: calc(100vh - 170px);
}
.chatPanel .chatHeader {
  width:100%;
  flex: 0 1 auto;
  background-color: var(--box2-background);
  box-shadow: var(--box-shadow);
}

.chatPanel .chatHeader button {
    text-decoration: none;
}

.chatPanel .chatContent {
  flex: 1 1 500px;
  overflow-x:auto;
}

.chatPanel .chatContent .chatEntryContainer {
  z-index: 100;
}

.chatPanel .chatContent .chatEntryContainer .chatEntry {
  padding: 5px 10px 5px 10px;
  background-color: var(--box1-background);
  min-height: 56px;
  border-radius: 10px;
  margin: 5px;
}
.chatPanel .chatContent .chatEntryContainer .chatEntry .chatImage {
  width: 64px;
  display: inline-block;
}
.chatPanel .chatContent .chatEntryContainer .chatEntry .chatImage img {
  width: 48px;
  height: 48px;
}
.chatPanel .chatContent .chatEntryContainer .chatEntry .chatInfo {
}

.chatPanel .chatContent .chatEntryContainer .chatEntry .chatInfo .chatTimestamp {
  color: gray;
}

.chatPanel .chatContent .chatEntryContainer .chatEntry .chatInfo .chatUsername {
  font-weight: bold;
}

.chatPanel .chatContent .chatEntryContainer .chatEntry .chatInfo .chatMessage {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  word-wrap: break-word;
}

.chatPanel .chatFooter {
  flex: 0 1 75px;
}

.chatPanel .chatFooter input {
  color: var(--font-color);
  border: 0 solid black;
}

.chatInputBox {
    background-color:var(--box2-background);
}

.chatInputBox:focus {
    background-color:var(--box2-background);
}

.chatPanel .chatFooter .chatFooterTop {
  height: 30px;
}

.chatMembersOverlay {
    display:none;
}
.modDisplayOverlay {
    display:none;
}

.chatbox-popout {
    height:100%;
    width:100%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.chat-popout-bottom {
    height:100px;
    position: fixed;
    display: block;
    bottom:25px;
    width:100%;
    padding-right:35px;
}

.chatsticker-composer-popover-input{
    font-size-adjust: none;
    font-size: 100%;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: 400;
    font: normal normal 100% "chatsticker-font", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    text-align-last: auto;
    text-decoration: none;
    -webkit-text-emphasis: none;
    text-emphasis: none;
    text-height: auto;
    text-indent: 0;
    text-justify: auto;
    text-outline: none;
    text-shadow: none;
    text-transform: none;
    text-wrap: normal;
    alignment-adjust: auto;
    alignment-baseline: baseline;
    -webkit-animation: none 0 ease 0 1 normal;
    animation: none 0 ease 0 1 normal;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-appearance: normal;
    -moz-appearance: normal;
    appearance: normal;
    azimuth: center;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background: none 0 0 auto repeat scroll padding-box transparent;
    background-color: transparent;
    background-image: none;
    baseline-shift: baseline;
    binding: none;
    bleed: 6pt;
    bookmark-label: content();
    bookmark-level: none;
    bookmark-state: open;
    bookmark-target: none;
    border: 0 none transparent;
    border-radius: 0;
    bottom: auto;
    box-align: stretch;
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
    box-direction: normal;
    box-flex: 0.0;
    box-flex-group: 1;
    box-lines: single;
    box-ordinal-group: 1;
    box-orient: inline-axis;
    box-pack: start;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-column-break-after: auto;
    break-after: auto;
    -webkit-column-break-before: auto;
    break-before: auto;
    -webkit-column-break-inside: auto;
    break-inside: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    color-profile: auto;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
    -webkit-column-gap: normal;
    -moz-column-gap: normal;
    column-gap: normal;
    -webkit-column-rule: medium medium #1f1f1f;
    -moz-column-rule: medium medium #1f1f1f;
    column-rule: medium medium #1f1f1f;
    -webkit-column-span: 1;
    -moz-column-span: 1;
    column-span: 1;
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
    -webkit-columns: auto auto;
    -moz-columns: auto auto;
    columns: auto auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    crop: auto;
    cursor: auto;
    direction: ltr;
    display: inline;
    dominant-baseline: auto;
    drop-initial-after-adjust: text-after-edge;
    drop-initial-after-align: baseline;
    drop-initial-before-adjust: text-before-edge;
    drop-initial-before-align: caps-height;
    drop-initial-size: auto;
    drop-initial-value: initial;
    elevation: level;
    empty-cells: show;
    fit: fill;
    fit-position: 0 0;
    float: none;
    float-offset: 0 0;
    grid-columns: none;
    grid-rows: none;
    hanging-punctuation: none;
    height: auto;
    hyphenate-after: auto;
    hyphenate-before: auto;
    hyphenate-character: auto;
    hyphenate-lines: no-limit;
    hyphenate-resource: none;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    icon: auto;
    image-orientation: auto;
    image-rendering: auto;
    image-resolution: normal;
    inline-box-align: last;
    left: auto;
    line-height: inherit;
    line-stacking: inline-line-height exclude-ruby consider-shifts;
    list-style: disc outside none;
    margin: 0;
    marks: none;
    marquee-direction: forward;
    marquee-loop: 1;
    marquee-play-count: 1;
    marquee-speed: normal;
    marquee-style: scroll;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    move-to: normal;
    nav-down: auto;
    nav-index: auto;
    nav-left: auto;
    nav-right: auto;
    nav-up: auto;
    opacity: 1;
    orphans: 2;
    outline: medium none invert;
    outline-offset: 0;
    overflow: visible;
    overflow-style: auto;
    padding: 0;
    page: auto;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    page-policy: start;
    -webkit-perspective: none;
    perspective: none;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    pointer-events: auto;
    position: absolute;
    presentation-level: 0;
    punctuation-trim: none;
    quotes: none;
    rendering-intent: auto;
    resize: none;
    right: auto;
    rotation: 0;
    rotation-point: 50% 50%;
    ruby-align: auto;
    ruby-overhang: none;
    ruby-position: before;
    ruby-span: none;
    size: auto;
    string-set: none;
    table-layout: auto;
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform-style: flat;
    transform-style: flat;
    transition: all 0 ease 0;
    unicode-bidi: normal;
    vertical-align: baseline;
    white-space: normal;
    white-space-collapse: collapse;
    widows: 2;
    width: auto;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    z-index: auto;
    text-align: start;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.chatsticker-composer-popover {
    z-index: 2147483003;
    position: absolute;
    display: none;
    width: 100%;
    right: 0px;
    box-shadow: 0 1px 15px 1px rgba(0,0,0,.08);
    background-color: #fff;
    border-radius: 6px;
    transition-duration: 200ms;
    transition-delay: 0ms;
    transform-style: flat;
    transform-origin: 50% 50% 0;
    opacity: 0;
    transition: all 0.2s linear;
    visibility: hidden;
}
.chatsticker-composer-popover.active{
  visibility: visible;
  display: block;
  opacity:1;
  bottom: 50px;
}
.chatsticker-emoji-picker {
    width: 330px;
    height: 260px;
    background-color: var(--box1-background);
}
.chatsticker-composer-popover-header {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    height: 40px;
    border-bottom: 1px solid #edeff1;
}
.chatsticker-composer-popover-input {
    font-weight: 400;
    font-size: 14px;
    color: #6e7a89;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    outline: none;
}
.chatsticker-composer-popover-body {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 5px;
    padding: 0 20px;
    overflow-y: scroll;
}
.chatsticker-emoji-picker-group {
    margin: 10px -5px;
}
.chatsticker-emoji-picker-group {
    margin: 10px -5px;
}
.chatsticker-emoji-picker-group-title {
    color: var(--font-color);
    font-weight: 400;
    font-size: 13px;
    margin: 5px;
}
.chatsticker-emoji-picker-emoji {
    padding: 5px;
    width: 30px;
    line-height: 30px;
    display: inline-table;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    font-size: 28px;
    transition: -webkit-transform 60ms ease-out;
    transition: transform 60ms ease-out;
    transition: transform 60ms ease-out,-webkit-transform 60ms ease-out;
    transition-delay: 60ms;
    font-family: Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Segoe UI Symbol,Android Emoji,EmojiSymbols;
}
.chatsticker-emoji-picker-emoji:hover {
    transition-delay: 0ms;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}
.chatsticker-composer-popover-caret {
    position: absolute;
    bottom: -8px;
    right: 0%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    right: 54px;
}