:root {
    --navbar-background: #2F2C2C;
    --page-background: #3E3D3D;
    --box1-background: #4F4F4F;
    --box2-background: #1F1F1F;
    --box3-background: #CCCCCC;
    --green-background: #273F1C;
    --blue-background: #151458;
    --accent-color: #3488DB;
    --font-color: #cccccc;
    --link-hover-color: #3488DB;
    --input-background: #CED4DA;

    --font: Sans-Serif;
    --font-size: 13px;
    --corner-radius: 4px;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    --top-navbar-height: 60px;
    --left-sidebar-width: 60px;
    --site-logo-width: 42px;
    --site-logo-height: 42px;
    --nav-userphoto-width: 42px;
    --nav-userphoto-height: 42px;

    --side-panel-width: 410px;

  }

[data-theme="light"] {
    --navbar-background: #FFFFFF;
    --page-background: #FFFFFF;
    --box1-background: lightgray;
    --box2-background: whitesmoke;
    --green-background: limegreen;
    --blue-background: skyblue;
    --accent-color: #3488DB;
    --font-color: #000000;
    --link-hover-color: #3488DB;
    --input-background: #FFFFFF;
}

body {
    font-family: var(--font);
    color: var(--font-color);
    font-size: var(--font-size);
}

.badge {
    color: white;
}

.badge-info {
    background-color: var(--box1-background);
}
.badge-info {
    background-color: var(--accent-color);
}
.badge-primary {
    background-color: #1dcaff;
}

.badge-success {
    background-color: #00bb00;
}

.badge-danger {
    background-color: #bd2b2b;
}

.min-35 {
    min-width: 35px;
}

.min-100 {
  min-width: 100px;
}

.min-150 {
  min-width: 150px;
}

.noClickButton {
  pointer-events: none;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active {
    color: var(--link-hover-color);
}

table th{
    color: var(--font-color);
}

table tbody tr {
    color: var(--font-color)
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.dataTables_paginate .pagination .paginate_button .page-link {
    background-color: var(--box1-background);
    color: var(--font-color);
    border: 0 solid black;
    box-shadow: 2px 2px 5px black;
}

.textShadow {
    text-shadow: var(--text-shadow);
}

.boxShadow {
    box-shadow: var(--box-shadow);
}

.insetBoxShadow {
    box-shadow: inset var(--box-shadow);
}

.nu-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  color: #cccccc;
}

.nu-modal .title {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.nu-modal {
  color: white;
  position: relative;
  top: -90px;
  margin-bottom:-60px;
}

.nu-modal .input-box {
  position: relative;
}

.nu-modal .input-box input {
  width: 100%;
  padding: 0px 0;
  font-size: 16px;
  color: #fff;
  margin-top: 0px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.nu-modal .input-box label {
  position: relative;
  top: -35px;
  left: 0;
  padding: 5px 0px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.nu-modal .input-box input:focus ~ label,
.nu-modal .input-box input:valid ~ label {
  top: -55px;
  left: 0;
  color: #03e9f4;
  font-size: 16px;
}

.nu-modal hr {
  border-top: 2px solid white;
}

.nu-modal .hint {
  text-align: center;
  color: gray;
  position: relative;
  top: -15px
}

.nu-modal .hint a {
  text-decoration: none;
  color: gray;
}

.nu-modal .hint a:hover {
  color: white;
  transition: .5s;
}

.modal-content {
    background-color: var(--page-background);
    font-size: 16px;
}

.modal-header {
    background-color: var(--page-background);
    border: 0 solid black;
    border-radius: 4px 4px 0 0;
}
.modal-body {
    background-color: var(--navbar-background);
    border-radius: 0 0 4px 4px;
}

.modal-footer {
    background-color: var(--page-background);
    border: 0 solid black;
}

.show {
    display: inline-block !important;
}

.toast {
    background-color: var(--page-background);
    color: var(--font-color);
}

.toast-header {
    background-color: var(--box1-background);
    color: var(--font-color);
}

.uiBar {
    background-color: var(--navbar-background);
    box-shadow: var(--box-shadow);
    z-index: 900;
}

.loginButton {
    position: relative;
    top: -4px;
    color: var(--font-color);
    background-color: var(--box2-background);
}

.dropzone {
    display: none;
}

.topNavbar {
    position: fixed;
    left: var(--left-sidebar-width);
    top: 0px;
    height: var(--top-navbar-height);
    width: calc(100vw - var(--left-sidebar-width));
    line-height: var(--top-navbar-height);
    z-index: 901;
}

.topNavbar .siteTitle {
    position: relative;
    font-size: 24px;
    margin-left: 34px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.topNavbar .rightTopNavbar {
    float: right;
    padding-right: 30px;
}

.topNavbar .rightTopNavbar .searchBox {
    position: relative;
    padding-right: 40px;
}

.topNavbar .rightTopNavbar .searchBox i {
    font-size: medium;
    position: relative;
    color: var(--font-color);
}

.topNavbar .rightTopNavbar .searchBox .searchIcon {
    left: 50px;
}

.topNavbar .rightTopNavbar .searchBox .searchClear {
    right: 50px;
    margin-right: -45px;
    display:none;
}

.topNavbar .rightTopNavbar .searchBox input {
    height: 35px;
    width: 350px;
    border-radius: 8px;
    border: 0 black solid;
    background-color: var(--page-background);
    color: var(--font-color);
}

.topNavbar .rightTopNavbar .searchBox input[type=text] {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 40px;
    box-sizing: border-box;
    font-size: large;
}

.topNavbar .rightTopNavbar .searchBox input[type=text]:focus {
    outline: none;
}

.topNavbar .rightTopNavbar .userImageBlock {
    height: 100%;
    width: 62px;
    position: relative;
    top: -8px;
}

.topNavbar .rightTopNavbar .userImageBlock i {
    position: relative;
    top: 5px;
    left: -10px;
    font-size: 18px;
}

.topNavbar .rightTopNavbar .userImageBlock .userImage {
    object-fit: cover;
    border-radius:50%;
    width: var(--nav-userphoto-width);
    height: var(--nav-userphoto-height);
}

.navbar-dropdown-content {
    display: none;
    position: absolute;
    top: 35px;
    background-color: var(--box2-background);
    min-width: 195px;
    z-index: 1;
    border-radius: 4px;
    font-size: 16px;
    padding: 7px;
}

.navbar-dropdown-content hr {
    background-color: var(--font-color);
    height: 0px;
    border: 0;
    margin: 8px;
}

.navbar-dropdown-content a {
    float: none;
    display: block;
    padding: 6px 15px;
    text-align: left;
    line-height: normal;
}

.navbar-dropdown-content span {
    padding-right: 10px;
}

.navbar-dropdown-content a, .navbar-dropdown-content a:visited {
    color: inherit;
    text-decoration: none;
}

.navbar-dropdown-content a:hover, .navbar-dropdown-content a:active {
    color: var(--link-hover-color);
}


.topNavbar .rightTopNavbar i {
    font-size: 25px;
    padding: 15px;
}

.sideNavbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--left-sidebar-width);
    text-align: center;
    z-index: 901;
}

.sideNavbar .logo {
    position: relative;
    width: var(--site-logo-width);
    height: var(--site-logo-height);
    top: 14px;
    left: 0;
}

.sideNavbar .sideIcons {
    position: relative;
    top: 0;
}

.sideNavbar .sideIcons .sideIcon {
    margin-top: 35px;
}

.sideNavbar .sideIcons i {
    width: 100%;
    font-size: 30px;
}

.content {
    position: fixed;
    left: var(--left-sidebar-width);
    top: var(--top-navbar-height);
    width: calc(100vw - var(--left-sidebar-width));
    height: calc(100vh - var(--top-navbar-height));
    background-color: var(--page-background);
    overflow : auto;
}

.aboutLogo {
    width: 300px;
    height: 300px;
}

.announcement-container {
    width:100%;
    padding: 20px 20px;
    background-color: var(--box1-background);
}

.text-custom-container {
    width:100%;
    padding: 20px 20px;
    background-color: var(--box2-background);
}

.featured-stream-container {
    width: 100%;
    padding: 20px 20px;
    background-color: var(--box2-background);
}

.live-container {
    width: 100%;
    padding: 20px 20px;
    background-color: var(--page-background);
}

.topics-container {
    width: 100%;
    padding: 20px 20px;
    background-color: var(--box2-background);
}

.channels-container {
    width: 100%;
    padding: 20px 20px;
    background-color: var(--box2-background);
}

.streamer-container {
    width: 100%;
    padding: 20px 20px;
    background-color: var(--box2-background);
}

.videos-container {
    width: 100%;
    padding: 20px 20px;
    background-color: var(--page-background);
}

.clips-container {
    width: 100%;
    padding: 20px 20px;
    background-color: var(--page-background);
}

.streamer-info-container {
    color: var(--font-color);
    width: 100%;
    padding: 30px 30px;
    background-color: var(--box2-background);
}

.steamer-info-picture-img {
  width: 96px;
  height: 96px;
}

.socialIcons img {
  width: 32px;
  height: 32px;
  margin-top:10px;
  border-radius: 50%;
}

.socialIcons img:not(:first-child) {
  margin-left: 5px;
  margin-right: 5px;
}

.avatar-small {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.itemList {
    padding: 0;
    list-style-type: none;
}

.item {
    margin: 0 15px 0 0;
}

.item .topicName {
    text-align: center;
    font-size: 1.25em;
    text-transform: uppercase;
}

.item .channelName {
    font-size: 1.25em;
    text-transform: uppercase;
}

.item .channelOwner {
    font-size: 1.0em;
    text-transform: uppercase;
}

.topicImg img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
}

.topicImg-sm img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

.channelImg img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
}

.channelImg-sm img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
}

.card {
    background-color: inherit;
    border: 0 solid black;
}

.card .card-body .card-text {
    font-size: 1.25em;
    line-height: 1.15em;
}

.stream-metadata-description {
    font-size: 1.15em;
}

.live-badge {
    padding: 2px 8px;
    background-color: #FF2020;
    border-radius: 4px;
    text-align: center;
}

.protected-badge {
    padding: 2px 8px;
    background-color: #b5c718;
    border-radius: 4px;
    text-align: center;
}

.offline-badge {
    padding: 2px 8px;
    background-color: var(--box1-background);
    border-radius: 4px;
    text-align: center;
}

.live-viewers-badge {
    padding: 2px 8px;
    background-color: #206CFF;
    border-radius: 4px;
    text-align: center;
}

.views-badge {
    padding: 2px 8px;
    background-color: #206CFF;
    border-radius: 4px;
    text-align: center;
}

.length-badge {
    padding: 2px 8px;
    background-color: #cb3838;
    border-radius: 4px;
    text-align: center;
}

.streamCard {
    height: 290px;
    width: 315px;
    margin: 0 15px 0 0;
}

.streamCard a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.streamCard .streamCard-thumb {
    width: 315px;
    height: 178px;
    object-fit: cover;
    border-radius: 6px;
}

.streamCard .streamCard-badges {
    color: white;
    position: relative;
    top:30px;
    margin-top: -30px;
    padding: 5px;
}

.streamCard .streamCard-tags {
    position: relative;
    top: -10px;
}

.channelCard {
    width: 175px;
}

.channelCard a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.channelCard .channelCard-badges {
    position: relative;
    top: 28px;
    left: 5px;
}

.admin-nav {
    margin: 20px 0 0 20px;
}

.admin-nav .nav-link {
    font-size: 1.10em;
    color: var(--font-color);
}

.admin-nav .active {
    color: var(--accent-color);
}

.admin-nav .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.box1-fill {
    background-color: var(--box1-background);
}

.box2-fill {
    background-color: var(--box2-background);
}

.green-fill {
    background-color: var(--green-background);
}

.blue-fill {
    background-color: var(--blue-background);
}

.info-panel-box {
    padding: 20px;
    border-radius: 4px;
}

.info-panel-box input:not([type=range], [type=checkbox]), textarea, select{
    background-color: var(--input-background) !important;
    border-radius: 4px;
}

.info-panel-box .info-panel-box-header {
    font-size: 1.25em;
    background-color: var(--box1-background);
    border-radius: 4px 4px 0px 0px;
    width:100%;
    padding: 10px;
}

.info-panel-box .info-panel-box-header-nofill {
    font-size: 1.25em;
}

.info-panel-box .info-panel-box-metric {
    font-size: 2.25em;
    text-align: center;
    padding: 20px;
}

.info-panel-box-body {
    background-color: var(--box2-background);
    border-radius: 0 0 4px 4px;
    width: 100%;
    padding: 10px;
}

.channel-info-container {
    color: var(--font-color);
    width: 100%;
    padding: 30px 30px;
    background-color: var(--box2-background);
}

.channel-info-picture-img {
  width: 128px;
  height: 128px;
  border-radius: 6px;
  object-fit: cover;
}

.channelBadges {
  margin-top: 10px;
  margin-bottom: 5px;
}

.channelButtons {
  margin-top: 12px;
}

.osp-badge {
  margin-right: 5px;
}

.osp-info-box {
    min-width: 472px;
}

.osplogo {
    width: 64px;
    height: 40px;
    object-fit: cover;
}

.osp-title {
    font-size: 1.25em;
}

.osp-info {
    margin: 10px 0;
    font-size: 1.05em;
}

.bootstrap-tagsinput {
    background-color: var(--input-background);
}

.bootstrap-tagsinput .badge {
    background-color: var(--box2-background);
    color: var(--font-color);
    font-size: 1em;
}

.streamer-avatar {
  width: 128px;
  margin: 5px;
}
.streamer-avatar img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
}

.streamer-avatar .username {
  margin-top: 10px;
  text-align: center;
}

@media (min-width: 1200px) {
    #mainContentPanel{
        width: calc(100% - var(--side-panel-width));
    }
}

@media (min-width: 1200px){
    #sidePanel {
        max-width: var(--side-panel-width);
    }
}

/* pretty scrollbars */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--box2-background);
}

::-webkit-scrollbar-thumb {
  background: var(--box1-background);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

.video-panel {
    height: calc(100vh - var(--top-navbar-height));
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: auto;
    scrollbar-color: #b5b5b5 #858585;
  }

/* Chrome, Edge, and Safari */
.video-panel::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* Make the video relative, instead of absolute, so that
   the parent container will size based on the video. Also,
   note the max-height rule. Note the line-height 0 is to prevent
   a small artifact on the bottom of the video.
 */
.video-js.vjs-fluid,
.video-js.vjs-16-9,
.video-js.vjs-4-3,
.videoStream,
video.video-js,
video.vjs-tech {
  max-height: calc(100vh - 190px);
  position: relative !important;
  width: 100%;
  height: auto !important;
  max-width: 100% !important;
  padding-top: 0 !important;
  line-height: 0;
}

/* Fix the control bar due to us resetting the line-height on the video-js */
.vjs-control-bar {
  line-height: 1;
}

/* .video-panel::-webkit-scrollbar-track {
    background: #858585;
} */

.video-panel::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 16px;
    border: 0px solid #ffffff;
}

.video-control-panel {
    background-color: var(--box2-background);
    width: 100%;
    height: 100%;
}

.video-views-text {
    font-size: 1.25em;
    color: var(--accent-color);
}
.video-metadata {
    background-color: var(--box2-background);
    width: 100%;
    /*padding: 10px;*/
    /* box-shadow: var(--box-shadow); */
}

.video-name,
.video-channelName,
.video-streamer,
.channel-name {
    font-size: 1.25em;
}


.ownerbuttons-dropdown-content {
    background-color: var(--box2-background);
    color: var(--font-color);
    min-width: 195px;
    z-index: 1;
    border-radius: 4px;
    font-size: 16px;
    padding: 7px;
}

.side-video-panel {
  width: 100%;
  height: calc(100vh - var(--top-navbar-height));
  overflow-y: scroll;
}

.side-video-panel-container {
    height: 100%;
    background-color: var(--page-background);
    scrollbar-width: auto;
    scrollbar-color: #b5b5b5 #858585;
}

/* Chrome, Edge, and Safari */
.side-video-panel-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* .side-video-panel-container::-webkit-scrollbar-track {
    background: #858585;
} */

.side-video-panel-container::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 16px;
    border: 0px solid #ffffff;
}

.comments-container {
  background-color: var(--box1-background);
  width: 100%;
  height: calc(100vh - var(--top-navbar-height));
  overflow : auto;
}

.comments-container .comments-header-container {
  background-color: var(--box2-background);
  width: 100%;
  text-align: center;
  line-height: 30px;
  top: 0;
  position: sticky;
}

.comments-container .comments-content-container {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.comments-container .comment {
  width: 100%;
  min-height: 64px;
  background-color: var(--box2-background);
  border-radius: 4px;
  margin-bottom: 5px;
}

.comment .comment-avatar {
    min-width: 48px;
}

.stream-panel {
    height: calc(100vh - var(--top-navbar-height));
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    scrollbar-color: #b5b5b5 #858585;
  }

/* Chrome, Edge, and Safari */
.stream-panel::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* .stream-panel::-webkit-scrollbar-track {
    background: #858585;
}*/

.stream-panel::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 16px;
    border: 0px solid #ffffff;
}

/*.stream-control-panel {
    height: 50px;
    width: 100%;
    background-color: var(--page-background);
}*/

.stream-metadata {
  background-color: var(--box2-background);
  /*padding: 10px;
  box-shadow: var(--box-shadow);*/
}

.avatar-md {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.editor-toolbar button {
    color: var(--font-color);
}

#offlineImage img {
    width: 100%;
    box-shadow: var(--box-shadow);
}

.userChannelSettings-headerTab {
    background-color: var(--box1-background)
}

.userChannelSettings-leftNav {
    background-color: var(--box2-background);
    position: relative;
    left: 4px;
}

.channelVideoCard {
  list-style-type:none;
  width: 480px;
}

.userChannelSettings-dropdownHeader {
    background-color: var(--box2-background);
    padding: 15px 5px 5px 10px;
    width: 100%;
    box-shadow: var(--box-shadow);
}

.panel-ui-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

.panel-ui-list li {
  background-color: var(--box1-background);
  width: 350px;
  height: 35px;
  padding: 5px;
  font-weight: bold;
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);
  margin: 5px 0px;
}


.messages-list {
  /* height: 35vh; */
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
}

/* Chrome, Edge, and Safari */
.messages-list::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.messages-list::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 16px;
    border: 0px solid #ffffff;
}

.info-panel-box .messages-view-header {
    font-size: 1.25em;
    background-color: var(--box1-background);
    width:100%;
    padding: 10px;
    position: relative;
    top:-5px;
    margin-bottom: -5px;
}

.info-panel-box .messages-view {
  height: 42vh;
  overflow-y: scroll;
}

/* Chrome, Edge, and Safari */
.messages-view::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.messages-view::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 16px;
    border: 0px solid #ffffff;
}

.info-panel-box .messages-view .messages-view-controls {
  width: 100%;
  height: 30px;
  background-color: var(--box1-background);
  margin: 0;
}

.info-panel-box .messages-view .message {
  padding: 10px;
}

.notificationCardList {
    list-style-type:none;
}

/* Suggestions items */
.tagify__dropdown.users-list .tagify__dropdown__item{
    color: black;
    padding: .5em .7em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 1em;
    grid-template-areas: "avatar name"
                         "avatar email";
}

.tagify__dropdown.users-list .tagify__dropdown__item:hover .tagify__dropdown__item__avatar-wrap{
    transform: scale(1.2);
}

.tagify__dropdown.users-list .tagify__dropdown__item__avatar-wrap{
    grid-area: avatar;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    background: #EEE;
    transition: .1s ease-out;
}

.tagify__dropdown.users-list img{
    width: 100%;
    vertical-align: top;
}

.tagify__dropdown.users-list strong{
    grid-area: name;
    width: 100%;
    align-self: center;
}

.tagify__dropdown.users-list span{
    grid-area: email;
    width: 100%;
    font-size: .9em;
    opacity: .6;
}

.tagify__dropdown.users-list .addAll{
    border-bottom: 1px solid #DDD;
    gap: 0;
}


/* Tags items */
.tagify .tagify__tag{
    white-space: nowrap;
}

.tagify  .tagify__tag:hover .tagify__tag__avatar-wrap{
    transform: scale(1.6) translateX(-10%);
}

.tagify .tagify__tag .tagify__tag__avatar-wrap{
    width: 16px;
    height: 16px;
    white-space: normal;
    border-radius: 50%;
    background: silver;
    margin-right: 5px;
    transition: .12s ease-out;
}

.tagify .tagify__tag img{
    width: 100%;
    vertical-align: top;
    pointer-events: none;
}

@media only screen and (max-width: 1130px) {
    .topNavbar .siteTitle {
        display:none;
    }

    .topNavbar .rightTopNavbar .searchBox input {
        width: 210px;
    }

}
