{% extends "layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - User API Keys</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
                <div class="card my-5">
                    <h5 class="card-header text-white bg-dark mb-3">
                        API Keys
                    </h5>
                    <div class="card-body text-left">
                        <div class="card-text">
                            {% for key in apikeys %}
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <label class="form-check-label" for="keyname-{{key.id}}"> Key Name </label>
                                        <input type="text" name="userName" id="keyname-{{key.id}}" class="form-control" value="{{key.description}}" readonly>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label class="form-check-label" for="apikey-{{key.id}}"> API Key </label>
                                        <div class="input-group">
                                            <input type="text" name="userName" id="apikey-{{key.id}}" class="form-control" value="{{key.key}}" readonly>
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fas fa-copy"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label class="form-check-label" for="created-{{key.id}}"> Created </label>
                                        <input type="text" name="userName" id="created-{{key.id}}" class="form-control" value="{{key.createdOn|normalize_date}}" readonly>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label class="form-check-label" for="expires-{{key.id}}"> Expires </label>
                                        <input type="text" name="userName" id="expires-{{key.id}}" class="form-control" value="{{key.expiration|normalize_date}}" readonly>
                                    </div>
                                    <div class="form-group col-lg-1">
                                        <input type="submit" class="btn btn-danger mb-2 form-control"><i class="fas fa-trash-alt"></i></input>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card my-5">
                    <h5 class="card-header text-white bg-dark mb-3">
                        Create a New Key
                    </h5>
                    <div class="card-body text-left">
                        <div class="card-text">
                            <form action="/settings/api/new" method="post">
                                <div class="form-row align-items-center">
                                    <div class="form-group col-lg-3">
                                        <label class="form-check-label" for="keyname"> Key Name </label>
                                        <input type="text" name="keyName" id="keyName" class="form-control">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label class="form-check-label" for="expires"> Days Key Valid </label>
                                        <input type="number" name="expiration" id="expires" class="form-control" placeholder="0 for No Expiration">
                                    </div>
                                    <div class="col-auto align-items-bottom">
                                      <button type="submit" class="btn btn-primary mb-2">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}