{% extends "layout.html" %}

{% block body %}
    <div class="streamList d-flex align-content-around flex-wrap">
    {% for stream in streamList %}
        <a href="/view/{{stream.streamName}}/">
            <div class="stream shadow card p-2" style="width:386px;height:325px;">
                <img class="card-img-top" src="/live/{{stream.streamName|normalize_url}}.png" style="width:384px;height:216px;margin:-8px;">
                <div class="card-body">
                    <h5 class="card-title">{{stream.streamName}}</h5>
                    <p class="card-text">Lorum Ipsim</p>
                </div>
            </div>

        </a>
    {% endfor %}
    </div>
{% endblock %}

