{% extends "layout.html" %}

{% block head %}
    <title>Stream - {{streamtitle}}</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
{% endblock %}

{% block body %}
      <center>
          <div class="player">
            <video width="1280" height="768" id="video" controls></video>
          </div>
          <div class="streamInfo">
              <i class="fas fa-video"></i> {{stream.streamName}} <br>
              <i class="fas fa-eye"></i> {{channel.views}} <br>
          </div>
      </center>

      <script>
        if(Hls.isSupported()) {
          var video = document.getElementById('video');
          var hls = new Hls();
          hls.loadSource('{{streamURL|normalize_url}}');
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED,function() {
            video.play();
        });
       }
       // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
       // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
       // This is using the built-in support of the plain video element, without using hls.js.
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
          video.src = '{{streamURL|normalize_url}}';
          video.addEventListener('canplay',function() {
            video.play();
          });
        }
      </script>
{% endblock %}