{% extends "layout.html" %}

{% block head %}
    <title>video - {{video.channelName}}</title>

{% endblock %}

{% block body %}
      <div class="container-fluid">
          <div class="row">
              <div class="col-9">
                  <div class="player">
                      <video id="video" class="shadow recordedStream" autoplay controls>
                          <source src="{{streamURL}}" type="video/mp4">
                      </video>
                  </div>
                  <div class="recordedStreamInfo shadow">
                      <i class="fas fa-video"></i> <b>{{video.channelName}}</b> <br>
                      <i class="fas fa-hashtag"></i> <b>{{video.topic|get_topicName}}</b> <br>
                      <i class="fas fa-calendar-alt"></i> <b>{{video.videoDate}}</b> <br>
                      <i class="fas fa-user-circle"></i> {{video.owningUser|get_userName}} <br>
                      <i class="fas fa-users"></i> {{video.views}} <br>
                  </div>
              </div>
              <div class="col-3"></div>
          </div>
      </div>
      <br>
      <br>


{% endblock %}

{% block scripts %}
{% endblock %}