{% extends "layout.html" %}

{% block head %}
    <title>{{sysSettings.siteName}} - {{video.channelName}}</title>

{% endblock %}

{% block body %}
<div class="{{sysSettings.background}}-BG">
      <div class="container-fluid">
          <div class="row justify-content-md-center">
              <div>
                  <div class="White-BG player" style="width:75%">
                      <video id="video" class="shadow recordedStream" autoplay controls>
                          <source src="{{streamURL}}" type="video/mp4">
                      </video>
                  </div>
                  <div class="White-BG recordedStreamInfo shadow">
                      {% if video.owningUser == current_user.id %}
                      <div class="float-right">
                          <button type="button" class="btn btn-danger" onclick="location.href='/play/{{video.id}}/delete'" type="button">
                              <i class="fas fa-trash-alt"></i>
                          </button>
                      </div>
                      {% endif %}
                      <i class="fas fa-video"></i> <b>{{video.channelName}}</b> <br>
                      <i class="fas fa-hashtag"></i> <b>{{video.topic|get_topicName}}</b> <br>
                      <i class="fas fa-calendar-alt"></i> <b>{{video.videoDate|normalize_date}}</b> <br>
                      <i class="fas fa-user-circle"></i> {{video.owningUser|get_userName}} <br>
                      <i class="fas fa-users"></i> {{video.views}} <br>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <br>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}