[Unit]
Description=Gunicorn instance to serve OSP-Proxy
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/osp-proxy
ExecStart=/usr/local/bin/gunicorn app:app -k gevent -w 4 --threads 4 --bind 127.0.0.1:6999 --reload

[Install]
WantedBy=multi-user.target
