[Unit]
Description=Gunicorn instance to serve OSP-RTMP Worker
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/osp-rtmp
ExecStart=/usr/local/bin/gunicorn app:app -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker -w 1 --bind 0.0.0.0:5099 --reload

[Install]
WantedBy=multi-user.target