{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block head %}
<title>{{sysSettings.siteName}} - Reset Password</title>
{% endblock %}

{% block body %}
{% include "security/_messages.html" %}

<div class="login-box card shadow text-left">
    <h5 class="card-header text-white bg-dark mb-3">
        <h1>{{ _('Send password reset instructions') }}</h1>
    </h5>
    <div class="card-body">
        <div>
            <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
              {{ forgot_password_form.hidden_tag() }}
              {{ render_field_with_errors(forgot_password_form.email) }}
              {{ render_field(forgot_password_form.submit) }}
            </form>
        </div>
    </div>
</div>

{% endblock %}